// Basic styles
button {
  cursor: pointer;
}

a.button {
    display: inline-block;
    color: #000;
    text-decoration: none;
    position: relative;

    &:after {
      position: relative;
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background: #fff;
      transition: width .3s;
      transform: translateX(-50%);
      left: 50%;
    }

    &.black:after {
      background: #000;
      vertical-align: top;
      // display: inline-block;
    }

    &:hover:after {
      width: 100%;
      //transition: width .3s;
    }

}

a.btn, input[type=submit].btn, button.btn {

  cursor: pointer;
  
  &.pink {
    color: $color-pink;
    border-bottom: 1px solid $color-pink;
  }
  
  &.salmon {
    color: $color-salmon;
    border-bottom: 1px solid $color-salmon;
  }
  
  &.salmon-dark {
    color: $color-salmon-dark;
    border-bottom: 1px solid $color-salmon-dark;
  }

  &.white {
    color: $color-white;
    border-bottom: 1px solid $color-white;
  }

  &.grey {
    color: $color-grey;
    border-bottom: 1px solid $color-grey;
  }

  &.grey-dark {
    color: $color-grey-dark;
    border-bottom: 1px solid $color-grey-dark;
  }

  &-link1 {
    font-family: $fontRegularItalic;
    font-style: italic;
    font-size: 4.5vw;
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
    color: #000;
    transition: color 0.4s, border-bottom-color 0.6s;
    
    @include grid-media-query(not-palm) {                    
      font-size: 1.04vw;
    }

    
    @include grid-media-query(big-desk) {                    
      font-size: 20px;
    }
  
    &:hover {
      color: $color-pink;
      border-bottom-color: $color-pink;
    }
  
    // &:visited {
  
    // }
  }

  &-link2 {
    font-family: $fontSmallTitle;
    text-transform: lowercase;
    font-size: 3vw;
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding: 0 0 2px 0;
    color: #000;
    background-color: transparent;
    transition: color 0.5s, border-bottom-color 0.5s;
    letter-spacing: 0.11em;

    /********** // Rollover
    position: relative;

    // Added for over effect
    overflow: hidden;
    display: inline-block;
    color: transparent;
    **************/



    .tablet & {
      font-size: 3.2vw;
    }

    .tablet .portrait & {
      padding-bottom: 5px;
      font-size: 2.5vw;
    }
    
    @include grid-media-query(not-palm) {                    
      // font-size: 0.94vw;
      font-size: 0.73vw;
      padding-bottom: 0.3vw;
    }

    @include grid-media-query(big-desk) {                    
      font-size: 14px;
      // font-size: 18px;
    }
     
    &:hover {
      color: $color-pink;
      border-bottom-color: $color-pink;
    }

  
    // &:visited {
  
    // }

    /*****************
    // Rollover effect
    &:hover {
      // color: $color-pink;
      border-bottom-color: $color-pink;

      &[data-content]:after {
        top: calc(-100% - 0px);
      }
      &[data-content]:before {
        top: 0px;
      }
    }


    // &::after {
    //   content: ''; 
    //   position: absolute;
    //   top: calc(100% + 0px);
    //   width: 0;
    //   right: 0;
    //   height: 1px;
    // }

    
    &[data-content]:after {
      content: attr(data-content); 
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      // right: 0;
      // height: 15px;
      color: #000;
      transition: top 0.5s;
    }

    &[data-content]:before {
      content: attr(data-content); 
      position: absolute;
      top: calc(100% + 0px);
      width: 100%;
      left: 0;
      // right: 0;
      // height: 15px;
      color: $color-pink;
      transition: top 0.5s;
    }
    // &:before {
    //   content: attr(content); 
    //   position: absolute;
    //   top: calc(100% + 0px);
    //   width: 50px;
    //   right: 0;
    //   height: 15px;
    //   color: #000;
    // }
    
    &::before {
      transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
      // background: #000000;
    }
    
    // &::after {
    //   transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    //   // background: $color-pink;
    // }
  
    // &:visited {
  
    // }***********/


  }

}


.btn-circle-animation {
    margin: 100px auto;
    width: 130px;
  
  $color: #ffffff;
  
  .circle{
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #E94E3D;
    box-shadow: 60px -60px 0 2px $color, -60px -60px 0 2px $color, -60px 60px 0 2px $color, 60px 60px 0 2px $color, 0 0 0 2px #E94E3D;
    
    &:hover{
      animation: border .4s ease 1 forwards;
      cursor: none;
    }
  }
  
  
  @keyframes border{
    0% {
      box-shadow: 60px -60px 0 2px $color, -60px -60px 0 2px $color, -60px 60px 0 2px $color, 60px 60px 0 2px $color, 0 0 0 2px #E94E3D;
    }
    25% {
      box-shadow: 0 -125px 0 2px $color, -60px -60px 0 2px $color, -60px 60px 0 2px $color, 60px 60px 0 2px $color, 0 0 0 2px #fff;
    }
    50% {
      box-shadow: 0 -125px 0 2px $color, -125px 0px 0 2px $color, -60px 60px 0 2px $color, 60px 60px 0 2px $color, 0 0 0 2px #fff;
    }
    75% {
      box-shadow: 0 -125px 0 2px $color, -125px 0px 0 2px $color, 0px 125px 0 2px $color, 60px 60px 0 2px $color, 0 0 0 2px #fff;
    }
    100% {
      box-shadow: 0 -125px 0 2px $color, -125px 0px 0 2px $color, 0px 125px 0 2px $color, 120px 40px 0 2px $color, 0 0 0 2px #fff;
    } 
  }
  
  @keyframes icon1{
    0% {top: -25px;}
    100% {top: 10px;}
  }
  
  @keyframes icon2{
    0% {left: -20px;}
    100% {left: 15px;}
  }
  
  @keyframes icon3{
    0% {bottom: -25px;}
    100% {bottom: 10px;}
  }
  
  @keyframes icon4{
    0% {right: -25px;}
    100% {right: 15px;}
  }
  
  @keyframes line{
    0%{
      left: 60px;
      width: 0;
    }
    100% {
      left: 10px;
      width: 100px;
    }
  }
  
}
