input {
  font-family: $fontSmallTitle;
  padding-left: 8px;
  color: $color-form;
  background-color: #ffffff;
  vertical-align: top;
  appearance: none;

    &::-webkit-input-placeholder {/* Chrome/Opera/Safari */
        color: $color-form-placeholder;
        opacity: 1;
    } 
    &::-moz-placeholder {
        color: $color-form-placeholder;
        opacity: 1;
    }
    &:-moz-placeholder {
        color: $color-form-placeholder;
        opacity: 1;
    } /* Firefox 19+ */
    &:-ms-input-placeholder {
        color: $color-form-placeholder;
        opacity: 1;
    } /* IE 10+ */
    &::placeholder {
        color: $color-form-placeholder;
        opacity: 1;
    }
}

select {
    font-family: $fontSmallTitle;
    padding-left: 5px;
    color: $color-form;
    background-color: #ffffff;
    vertical-align: top;
    appearance: none;
}

select, input {
    text-transform: lowercase;
    &:focus {
        border-color: #000000 !important;
    }
}


.select {
  display: inline-block;
  position: relative;
  // border: 1px solid #ddd;  
  
  &:before, &:after {
    content: " ";
    position: absolute;
    pointer-events: none;    
  }
  &:before {
    width: 2.25em;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #f5f5f5;
    border-left: 1px solid #ddd;
  }
  &:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #ef4d69;
    right: .50em;
    top: 50%;
    margin-top: -3px;
	}
  
  select {
    position: relative;
    padding: .25em 3.25em .25em .475em;    
    -webkit-appearance: none;    
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    box-shadow: none;
    border: none;
    outline: none;
    &::-ms-expand {display: none;} // bonus: target IE10
    font-size: 1em;
    background-color: #ffffff;

    &:invalid {
        color: $color-form-placeholder;
    }

    option {
        color: $color-form-placeholder;

        &:checked {
            color: $color-form;
        }
    }
  }
}


input[type=date] {
  &::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
    width: 7px;
    height: 7px;
    padding-right: 6px;
    &:hover {
      background-color: transparent;
    }
  }
  &::-webkit-datetime-edit { }
  &::-webkit-datetime-edit-fields-wrapper { }
  &::-webkit-datetime-edit-text { }
  &::-webkit-datetime-edit-month-field { }
  &::-webkit-datetime-edit-day-field { }
  &::-webkit-datetime-edit-year-field { }
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none; }
  &::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: inline; }
  &::-webkit-clear-button {
      display: none; /* Hide the button */
      -webkit-appearance: none; /* turn off default browser styling */
  }
}



