/*.modal {
    display: none;
    background: rgba(0, 0, 0, .30);
    z-index: 999;
}

.modal .modal-dialog {
    position: relative;
    margin: 30px auto;
    width: 1100px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}*/

/**
Modal from Laurent Perrier - Grand Siecle - Store Locator
ex .modal
**/
.modal-lpgs {
  min-width: 100%;
  width: 100%;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;

  &.js-modal-open {
    opacity: 1;
    z-index: 10000;
  }

  button {
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 1rem;
    color: var(--primaryLighter);
    outline: 0;
  }

  .title {
    text-align: center;
  }
}




.modal {
    
    position:fixed;
    z-index: -1;

    &.open {
        z-index: 10000;
    }
    
    opacity: 0;
    visibility: hidden;
    
    &-newsletter {
        position:fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .30);

        &-dialog {
            position: absolute;
            width: 85%;
            background-color: #ffffff;
            opacity: 1;
            margin: 0 auto;
            overflow-y: auto;
            max-height: 80vh;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include grid-media-query(not-palm) {
                width: 790px;                
            }

            .bt-close {
                float: right;
                margin: 2%;
                cursor: pointer;
                pointer-events: all;
            }
            
        }
            
        &-message-success {
          padding: 0% 7% 0;
          text-align: center;
          position: absolute;
          opacity: 0;
          visibility: hidden;
          top: 50%;
          transform: translateY(-50%);
          
          @include grid-media-query(not-palm) {   
              padding: 0% 20% 0;
          } 
        }
        
        .title {
          color: $color-pink;
          font-family: $fontSmallTitle;
          text-align: center;
          font-size: 3.055556vw;
          white-space: normal;
          margin: 0 auto 3%;
          position: relative; 
          letter-spacing: 0.3em;
          text-transform: lowercase;

          .tablet & {
              font-size: 3vw;    
              width: 90%;
              padding: 0% 6% 6%;
          }
      
          @include grid-media-query(not-palm) {   
              font-size: 18px;
              width: auto;
              margin: 0 auto 2%;
              padding: 0;
              letter-spacing: 0.2em;
          } 
          @include grid-media-query(big-desk) {   
              font-size: 18px;
          } 
        }

        .subtitle {
          font-family: $fontRegular;
          text-align: center;
          font-size: 6.111111vw;
          margin-bottom: 5%;

          @include grid-media-query(not-palm) {   
              font-size: 40px;
              width: auto;
              margin: 0 auto 7%;
              padding-left: 0%;
              padding-right: 0%;
          } 
          @include grid-media-query(big-desk) {   
              font-size: 40px;
          }
        }

        &-header {
            padding: 9% 7% 0;
            text-align: center;
            
            @include grid-media-query(not-palm) {   
                padding: 9% 18% 0;
            } 
        }

        &-body {
            padding: 0 7%;
            margin-bottom: 10%;
            text-align: center;            

            .tablet .portrait & {
                padding: 0 9%;
            }
            
            @include grid-media-query(not-palm) {   
                padding: 0 18% 2%;
                margin-bottom: 5%;
            } 

            .mendatory, .input-error {
                font-family: $fontSmallTitle;
                color: $color-pink;
                font-size: 2.2vw;
                text-transform: lowercase;
                text-align: left;

                .tablet .portrait & {
                    font-size:1.7vw;
                }
                
                @include grid-media-query(not-palm) {   
                    font-size: 9px;
                } 
            }

            .input-error {
              margin-top: 2%;
              line-height: 1.2;

              .error {
                display: none;

                &.show {
                  display: block;
                }
              }
            }

            .response {
              color: #ff0000;

              .error {
                margin-bottom: 3%;
                display: none;
                &.show {
                  display: block;
                }
              }
            }

            .info {
                font-family: $fontDin;
                font-size: 2.6vw;
                text-align: left;
                padding-bottom: 2%;

                .tablet .portrait & {
                    font-size:2.3vw;
                }
                
                @include grid-media-query(not-palm) {   
                    font-size: 11px;
                }
            }

            .agree-txt {
                font-family: $fontDin;
                font-size: 2.7vw;
                line-height: 1.3;
                display: inline-block;
                vertical-align: top;
                text-align: left;
                padding-left: 30px;
                margin-top: -1px;

                .tablet .portrait & {
                    font-size:2.3vw;
                }
                
                @include grid-media-query(not-palm) {   
                    font-size: 11px;
                    margin-top: -5px;
                }

                a {
                    // font-weight: bold;
                    text-decoration: underline;
                }
            }

            .btn-link2 {
                margin: 0 auto;
                cursor: pointer;                
            }
            
            .form-group {
                margin-bottom: 5px;
                display: block;                

                .tablet .portrait & {
                    margin-bottom:12px;
                }
                    
                @include grid-media-query(not-palm) { 
                    display: inline-block;
                    width: 49.3%;
                    margin-right: 0.5%;

                    &:nth-child(even) {
                      margin-right: 0;
                    }
                }



                &:nth-child(6) {
                    margin-bottom: 5%;
                    
                    @include grid-media-query(not-palm) { 
                        margin-bottom: 3%;
                    }
                }

                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }

                &-optin {
                    margin-bottom: 0px;
                }

                label {
                    display: none;

                    &.c-radio-no {

                    }
                    &.c-radio-yes {

                    }
                }

                
                .form-control {
                    width: 100%;
                    line-height: 160%;
                    // padding-top: 2vh;
                    @include grid-media-query(not-palm) {
                        line-height:auto;
                        padding-top: 0;
                    }
                }
            }
            
            
            .form-group-optin {
                margin-bottom: 4%;
                text-align: left;
                
                @include grid-media-query(not-palm) { 
                    width: 100%;
                }

                label {
                    font-size: 36px;
                    height: 38px;
                    line-height: 1.2;
                }
                small {
                    font-size: 37px;
                }
            }

            .newsletter {
                font-size: 36px;
                float: right;
                line-height: 1.2;
                margin-right: 40px;
            }
            
            
            /*
            BOOTSTRAP
            */
            .form-control {
                font-family: $fontSmallTitle;
                border-radius: 0;
                height: 45px;
                font-size: 14px;
                border: 1px solid #e2e4e7;
                color: $color-form;
                line-height: 45px;
            }
            
            .has-danger {              
              .form-control {
                border: 1px solid #ff0000;
              }
              .c-radio {
                  color: #ff0000;
                  &:before {
                      border-color: #ff0000;
                  }
                  a {
                      color: #ff0000;
                  }
              }
            }

            .btn-primary, .btn-primary:hover, .btn-primary:focus {
                background-color: #e2e4e7;
                border-color: #e2e4e7;
                border-radius: 0;
                text-align: center;
                font-size: 62px;
                padding: 2px 50px 4px;
                float: right;
                text-decoration: underline;
                margin-top: 14px;
            }
            small, .small {
                color: red;
                float: right;
                margin-right: 5px;
                height: 46px;
                font-size: 42px;
                line-height: 1.20;
                display: none;
            }
            
            /* Checkbox */
            .wrapper_input {
                position: relative;
                margin: 0;
            }
            input[type=radio], input[type=checkbox] {
                display: none;
            }
            input[type=radio]:checked + label:after, input[type=checkbox]:checked + label:after {
                opacity: 1;
            }
            label.c-radio {
                position: relative;
                display: inline;
                // margin-left: 30px;
                cursor: pointer;
            }
            label.c-radio:before {
                width: 16px;
                height: 16px;
                content: '';
                border: 1px solid #b2b2b2;
                display: inline-block;
                position: absolute;
                left: 0;
                top: 0px;
                @include grid-media-query(not-palm) {
                    top: -5px;
                }
            }
            label.c-radio:after {
                width: 8px;
                height: 8px;
                content: '';
                background-color: #000000;
                border: 1px solid #000000;
                display: inline-block;
                position: absolute;
                left: 4px;
                top: -1px;
                opacity: 0;
            }
  
        }
    }
    

    .legal {
        font-family: $fontDin;
        color: #e2e4e7;
        font-size: 2.4vw;
        text-align: center;
        padding: 0 4% 3%;
        
        @include grid-media-query(not-palm) {   
            font-size: 10px;
            padding: 0 2% 2%;
        }
    }
}