
.slide-in {
    opacity: 0;
    transform: translateY(2vw);
}
.fade-in {
    opacity: 0;
}

.mobile .slide-in, .tablet .slide-in {
    opacity: 1;
    transform: none;
}
.mobile .fade-in, .tablet .fade-in {
    opacity: 1;
}