// linear-gradient(left, #ffa200, #f01924, #4773df)

.vjs-resize-manager{
    pointer-events: none;
}
.video-js {

    background-color: transparent;

    &.vjs-onirim-skin {
        
        
        .vjs-tech {
            background-color: transparent;
            padding-top: 0 !important; // Because padding-top is copied when video-js initializes
        }

        .vjs-poster {
            background-color: transparent;
            // display: none;
            .tax-onirim_artiste & {
                // display: none;
            }
        }

        button:focus {
            outline:none;
        }
        
        .vjs-slider:focus, .vjs-control:focus {
            text-shadow: none; //0em 0em 0em white;
            box-shadow: none; //0 0 0em #fff;
        }

        &.vjs-2-35 {
            // padding-top: 41.75%;
            padding-top: 41.85%;
        }

        .vjs-big-play-button {
            // top: 50%;
            // left: 50%;
            /* -webkit-transform: translate(-50%, -50%); */
            /* transform: translate(-50%, -50%); */
            border: 0;
            background-color: transparent;
            top: auto;
            bottom: 10px;
            left: 10px;
            width: 1.5em;
            font-size: 2em;
        }

        .vjs-control-bar {
            background-color: transparent;        
        }

        .vjs-play-control {
            position: absolute;
            bottom: 10px;
        }
        
        .vjs-volume-panel {
            display: none;
            position: absolute;
            bottom: 10px;
            right: 40px;
        }
        .vjs-mute-control {
            position: absolute;
            bottom: 10px;
            right: 40px;
        }
        
        .vjs-time-control {
            display: none;
        }

        .vjs-fullscreen-control {
            position: absolute;
            bottom: 10px;
            right: 0;
        }

        .vjs-progress-control {
            height: 5px;
            bottom: 0;
            position: absolute;
            width: 100%;

            .vjs-progress-holder {
                margin: 0;
                overflow: hidden;
                height: 5px;
                position: absolute;
                bottom: 0;
                width: 100%;    
                // &:hover {
                //     height: 7px;
                // }
            }
        } 

        .vjs-play-progress {
            background: linear-gradient(to right, #ffa200, #f01924, #4773df);
            width: 100%;

            &:before { // Tete de lecture
                display: none;
            }
        }


    }
}


.simple-video {
    &-control {
        position:absolute;
        width:100%;
        height: 100%;
        background-color: transparent;
        top: 0;
        opacity: 0;
        cursor: pointer;    
        transition: opacity 0.5s;

        &:hover {
            opacity: 1;
        }

        &.play {
            .play {
                opacity: 1;
            }
            .pause {
                opacity: 0;
            }
        }

        &.pause {
            .play {
                opacity: 0;
            }
            .pause {
                opacity: 1;
            }
        }

        .play, .pause {
            pointer-events: none;
            opacity: 0;
            width: 9px;
            position: absolute;
            bottom: 20px;
            left: 20px;
        }

    }
}


 /*************************
    VIDEO BACKGROUND
***************************/
.video-cover {
    overflow: hidden;
    // position: fixed;
    position: absolute;
    height:100% !important;
    // height: calc(100% - 90px) !important;
    
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.video-cover video {
    width: 120%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    // opacity: .5;
}
@media (min-aspect-ratio: 16/9) {
    .video-cover video {
        height: 300%;
        /* En pratique : supérieur à la hauteur du viewport */
        top: -100%;
    }
}
@media (max-aspect-ratio: 16/9) {
    .video-cover video {
        width: 300%;
        /* En pratique : supérieur à la largeur du viewport */
        left: -100%;
    }
}
/* 2. if support object-fit overwrite css rules of 1. */
@supports (object-fit: cover) {
    .video-cover video {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}