/****
This is replacing styles made by https://cookieconsent.insites.com/
****/
.cc-revoke {
    display: none !important;
}
.cc-window {
    .cc-message {
        // text-transform: uppercase;
        font-size: 14px;
        font-family: $fontLightItalic;
        padding-right: 5%;

        .portrait & {
            font-size: 12px;
            padding-right: 0;
            line-height : 1.2em;
        }
    }

    &.cc-floating {
        .portrait & {
            padding: 1.2em;
        }
    }

    .cc-compliance {
        background-color: #ffffff;        

        .cc-btn.cc-dismiss, .cc-btn.cc-allow {
            // text-transform: uppercase;
            color: #000000;
            background-color: #ffffff;
            font-size: 14px;
            font-family: $fontLightItalic;
            border: 1px solid #000000;
            transition: background-color 0.3s, color 0.3s;
            min-width: 140px;

            .portrait & {
                line-height : 1.2em;
                font-size : 12px;
                // padding-right: inherit;
            }

            &:hover {
                color: #ffffff;
                background-color: #000000;
                transition: background-color 0.3s, color 0.3s;
                text-decoration: none;
            }
        }
    }
}