.site-footer {
    background-color: $color-black;
    padding: 15.27vw 0 0 0;
    text-align: center;

    .tablet & {
        padding: 10vw 0 0 0;
    }

    @include grid-media-query(not-palm) { 
        padding: 5.21% 18.75% 1.56%;
        text-align: left;
    }

    .max-width {
        max-width: 1198px;
        margin: 0 auto;
    }

    .logo-lpcr {
        width: 59.72vw;
        margin: 0 auto 11.11vw;

        .tablet & {
            width: 45vw;
            margin: 0 auto 7vw;
        }

        @include grid-media-query(not-palm) { 
            width: 21%;
            margin: 0 auto 4%;
        }
    }

    .menu-footer {
        margin: 9.72vw 0;

        .tablet & {
            margin: 7.72vw 0 6vw;
        }

        @include grid-media-query(not-palm) { 
            margin: 0;
            display: inline-block;
        }

        .menu-item {
            margin: 6.39vw 0;

            .tablet & {
                margin: 4vw 0;
            }

            @include grid-media-query(not-palm) { 
                display: inline;
                margin: 0 1.875vw 0 0;

                &:last-child {
                    margin: 0;
                }
            }
            
            @include grid-media-query(big-desk) { 
                margin: 0 36px 0 0;
            }

            a {
                font-family: $fontSmallTitle;
                font-size: 3.05vw;
                text-transform: lowercase;
                color: #515151;
                letter-spacing: 0.1em;
                                
                .tablet .portrait & {
                    font-size: 2.05vw;
                }

                @include grid-media-query(not-palm) { 
                    font-size: 0.73vw;
                    transition: color 0.5s;
                }

                @include grid-media-query(big-desk) { 
                    font-size: 14px;
                }

                &:hover {
                    color: #ffffff;
                }
            }

            &.current-menu-item {
                a {
                    color: #ffffff;
                }
            }
        }
    }

    .separator {
        border-top: 1px solid #262626;
        margin-top: 3.5%;        
        padding-bottom: 0.94vw;

        @include grid-media-query(big-desk) { 
            padding-bottom: 27px;
        }
    }

    &-social {
        display: block;
        margin: 9.72vw 0;

        .tablet & {
            margin: 2vw 0 7.6vw;
        }

        @include grid-media-query(not-palm) { 
            margin: 0;
            float: right;
            display: none;
        }

        li {
            display: inline;

            &:nth-child(1) {
                margin-right: 8.33vw;

                @include grid-media-query(not-palm) { 
                    margin-right: 1.35vw;
                }

                @include grid-media-query(big-desk) { 
                    margin-right: 26px;
                }
            }

            img {
                width: 5vw;
                opacity: 0.6;
                
                .tablet & {
                    width: 4.2vw;
                }

                @include grid-media-query(not-palm) { 
                    width: 0.78vw;
                    max-width: 15px;
                }
            }
        }
    }

    &-link {
        text-align: center;
        border-top: 1px solid #262626;
        border-bottom: 1px solid #262626;
        padding: 6.94vw 0 8.94vw;

        @include grid-media-query(not-palm) { 
            display: inline-block;
            padding: 0;
            border-top: 0;
            border-bottom: 0;
            float: right;
        }

        .btn-link2 {
            letter-spacing: 0.1em;
            @include grid-media-query(not-palm) { 
                font-size: 0.73vw;
            }
            @include grid-media-query(big-desk) { 
                font-size: 14px;
            }
        }

    }

    &-legal {
        color: #515151;
        text-transform: lowercase;
        font-family: $fontSmallTitle;
        font-size: 1.95vw;
        padding: 4vw 0;

        @include grid-media-query(not-palm) { 
            font-size: 0.521vw;
            padding: 0;
            display: inline-block;
        }
        @include grid-media-query(big-desk) { 
            font-size: 10px;
        }
        .brand {
            margin-bottom: 2%;
            @include grid-media-query(not-palm) { 
                display: inline-block;
                margin-bottom: 0;
            }
        }
        .copyright {
            font-family: Helvetica, Arial, sans-serif;
        }

        .space {
            // padding-right: 8.33vw;
            padding-right: 0;
            @include grid-media-query(not-palm) { 
                padding-right: 2.08vw;
            }
            
            @include grid-media-query(big-desk) { 
                padding-right: 40px;
            }
        }

        .btn-link2 {
            color: #515151;
            border: 0;
            font-size: 1.95vw;
            padding-right: 2vw;
            &:last-child {
                padding-right: 0;
            }   

            .tablet .portrait & {
                font-size: 1.95vw;
            }
            
            @include grid-media-query(not-palm) { 
                font-size: 0.521vw;
                transition: color 0.5s;
                padding-right: 2.08vw;
                &:last-child {
                    padding-right: 0;
                }                
            }

            @include grid-media-query(big-desk) { 
                font-size: 10px;
            }
            
            &:hover {
                color: #ffffff;
            }
        }
    }
}