.header {
    position: absolute;
    // position: sticky;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}

.scroll-zone .header {
    position: fixed;

    .menu-mobile, #lang-selector {
        transition: transform 0.0s;
        transform: translateY(-60px);

        .tablet & {
            transform: translateY(-90px);
        }
        @include grid-media-query(not-palm) {
            transform: translateY(-90px);
        }
    }
}


.scroll-up.scroll-zone .header {
    .menu-mobile, #lang-selector {
        transition: transform 0.5s;
        transform: translateY(-60px);

        .tablet & {
            transform: translateY(-90px);
        }

        @include grid-media-query(not-palm) {
            transform: translateY(-90px);
        }
    }
}
.scroll-down.scroll-zone .header {
    .logo {

        .tablet & {
            transition: width 0.0s, margin 0.0s;
            width: 105px;
            margin-top: 0;
        }

        @include grid-media-query(not-palm) {
            transition: width 0.0s, margin 0.0s;
            width: 105px;
            margin-top: 0;
        }
    }
}
.scroll-down .header {
    // position: sticky;
    position: fixed;
    
    .menu-mobile {
        transform: translateY(-60px);
        transition: transform 0.5s;
        background-color: #ffffff;

        .tablet & {
            transform: translateY(-90px);
        }

        @include grid-media-query(not-palm) {
            transform: translateY(-90px);
        }
    }
    
    .burger-line {
        fill: transparent;
        transition: fill 0.5s
    }

    #lang-selector {
        // opacity: 0;

        transform: translateY(-60px);
        transition: transform 0.5s, opacity 0.2s;

        .tablet & {
            transform: translateY(-90px);
        }

        @include grid-media-query(not-palm) {
            transform: translateY(-90px);
        }

        .selected {
            color: #000000;
            transition: color 0.5s;

            .tablet & {
                top: 25px;
                height: 54px;
            }

            @include grid-media-query(not-palm) {
                top: 25px;
                height: 54px;
            }
        }
    }

    .logo {
        width: 150px;
        margin: 13px auto;
        transition: width 0.5s, margin 0.5s;

        .tablet & {
            width: 195px;
        }

        @include grid-media-query(not-palm) {
            width: 195px;
        }

        &-pink {
            opacity: 1 !important;
            transition: opacity 0.0s;
        }

        // &-bw {
        //     opacity: 0;
        //     transition: opacity 0.0s;
        // }
    }
}

.scroll-up .header {
    position: fixed;

    .menu-mobile {
    
        background-color: #ffffff;
        height: 60px;
        transform: translateY(0);
        transition: background-color 0.0s, height 0.1s, transform 0.5s;

        .tablet & {
            height: 90px;
        }

        @include grid-media-query(not-palm) {
            height: 90px;
        }

        &-burger {

            .tablet & {
                transition: top 0.2s;
                top: 33px;
            }

            @include grid-media-query(not-palm) {
                transition: top 0.2s;
                top: 33px;
            }
        }
    }

    .logo {
        width: 145px;
        transition: width 0.5s, margin 0.5s;

        .tablet & {
            transition: width 0.0s, margin 0.0s;
            width: 195px;
            margin-top: 23px;
        }
        
        @include grid-media-query(not-palm) {
            transition: width 0.0s, margin 0.0s;
            width: 195px;
            margin-top: 23px;
        }

        &-bw {
            opacity: 0;
            transition: opacity 0.5s;
        }

        &-pink {
            opacity: 1 !important;
            transition: opacity 0.5s;
        }
    }

    .burger-line {
        fill: rgb(0, 0, 0);
        transition: fill 0.5s
    }

    #lang-selector {
        opacity: 1;
        transition: opacity 0.5s, transform 0.5s;

        .selected {
            color: #000000;
            transition: color 0.5s, top 0.1s;

            .tablet & {
                top: 25px;
                height: 54px;
            }

            @include grid-media-query(not-palm) {
                top: 25px;
                height: 54px;
            }
        }
    }
}

.page-template-homepage .menu-mobile-burger .burger-line {fill:#000000;}
.page-template-homepage #lang-selector li.selected {color:#000000;}
.page-template-wine .menu-mobile-burger .burger-line {fill:#000000;}
.page-template-wine #lang-selector li.selected {color:#000000;}
.page-template-legal .menu-mobile-burger .burger-line {fill:#000000;}
.page-template-legal #lang-selector li.selected {color:#000000;}
.page-template-storelocator .menu-mobile-burger .burger-line {fill:#000000;}
.page-template-storelocator #lang-selector li.selected {color:#000000;}

// .page-template-wine .menu-mobile .logo-bw {opacity: 1;}
// .page-template-wine .menu-mobile .logo-pink {opacity: 0;}
.page-template-legal .menu-mobile .logo-bw {opacity: 0;}
.page-template-legal .menu-mobile .logo-pink {opacity: 1;}

.show-me {
    opacity: 0;
}

.menu-mobile-burger svg {
    transition: transform 0.3s 0.2s;
    transform: scaleX(1);
    transform-origin: center center;
}
.menu-opened .menu-mobile-burger svg {
    transition: transform 0.3s;
    transform: scaleX(0);
}

.menu-mobile-content .bt-close svg {
    transition: transform 0.4s;
    transform: scale(0) rotate(45deg);
    transform-origin: center center;
}
.menu-mobile-content.opened .bt-close svg {
    transition: transform 0.4s 0.1s;
    transform: scale(1) rotate(0deg);
}

.menu-mobile {
    display: block;
    position: absolute;
    // position: fixed;
    /* z-index: 9999; */
    width: 100%;
    max-width: 100%;
    height: 60px;
    background-color: transparent;
    top: 0;
    
    transform: translateY(0px);
    transition: background-color 0.3s, height 0.0s, transform 0.5s;

    .tablet & {
        height: 90px;
    }

    @include grid-media-query(not-palm) {
        height: 90px;
    }
    
    .logo {
        width: 145px;
        margin: 15px auto 0;
        position: relative;
        transition: width 0.3s 0.3s, margin 0.3s 0.2s;

        .tablet & {
            width: 195px !important;
            margin: 23px auto !important;
        }

        @include grid-media-query(not-palm) {
            width: 284px;
            margin: 32px auto;
        }

        &-bw {
            opacity: 0;
            transition: opacity 0.5s;
        }

        &-pink {
            opacity: 1;
            transition: opacity 0.1s;
        }

        img {
            position: absolute;
        }
    }    

    &-burger {
        position: absolute;
        left: 23px;
        top: 18px;
        height: 25px;
        cursor: pointer;
        transition: top 0.2s;

        .tablet & {
            left: 60px;
            top: 50px;
        }

        @include grid-media-query(not-palm) {
            left: 60px;
            top: 50px;
        }

        .burger-line {
            fill: rgb(256, 256, 256);
            transition: fill 0.5s
        }
    }

    &-content {
        // display: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top:0;
        width: 100%;
        max-width: 100%;
        height: 100vh;
        background-color: $color-salmon-lighter;
        // transition: opacity 0.5s;

        &.opened {
            // display: block;
            // opacity: 1;
            position: fixed;
        }

        .left {    
            height: 100vh;    
            @include grid-media-query(not-palm) {
                display: inline-block;
                width: 50%;
                position: absolute;
            }
        }

        .right {
            display: none;        
            @include grid-media-query(not-palm) {
                display: inline-block;
                // width: 50%;
                position: absolute;
                left: 50%;
                right: 60px;
                top: 60px;
                bottom: 60px;
                // transform: translateY(-50%);

                .visual {
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: cover;
                }
            }
        }

        &-centered {
            position: absolute;
            top: calc(50% - 35px);
            left: 50%;
            transform: translate(-50%, -50%);
            
            @include grid-media-query(not-palm) {
                top: calc(50% - 50px);
                width: 100%;
            }
        }

        .logo-50 {
            width: 13vw;
            margin: 0 auto 0;
            @include grid-media-query(not-palm) {
                width: 73px;
            }
        }
        
        .logo-lpcr {
            width: 45vw;
            margin: 3vh auto 0;
            @include grid-media-query(not-palm) {
                width: 40%;
            }
        }

        .separator {
            height: 1px;
            width: 7vw;
            background-color: $color-salmon;
            margin: 5vh auto;
            opacity: 0.3;
            @include grid-media-query(not-palm) {
                width: 53px;
            }
        }
        
        .bt-close {
            position: absolute;
            left: 25px;
            top: 17px;
            height: 25px;
            cursor: pointer;
            
            .tablet & {
                left: 62px;
                top: 48px;
            }

            @include grid-media-query(not-palm) {
                left: 62px;
                top: 48px;
            }
        }
        
        ul.menu {
            list-style-type: none;
            .menu-item {
                text-align: center;
                a {
                    font-family: $fontLight;
                    // text-transform: lowercase;
                    font-size: 10vw;
                    color:$color-salmon;
                    text-decoration: none;
                    line-height: 1.1;
                    transition: color 0.3s;

                    &:hover {
                        color: $color-pink;
                    }

                    @include grid-media-query(not-palm) {
                        font-size: 3.7vw;
                    }

                    @include grid-media-query(big-desk) {
                        font-size: 75px;
                    }
                }

                &.current-menu-item {
                    a {
                        color: $color-pink;
                    }
                }
            }
        }

        .menu-mobile-ul {
            ul.menu {
                .menu-item {
                    margin: 1vh;
                }
            }
        }

        .menu-mobile-ul-2 {
            ul.menu {
                .menu-item {
                    margin: 2vh;
                    a {
                        font-size: 6vw;

                        .tablet .portrait & {
                            font-size: 5vw;
                        }
                    }
                }
            }       
        }        

        @include grid-media-query(not-palm) {            
            .menu-mobile-ul-2 {
                text-align: center;
                margin-top: 5vh;

                ul.menu {
                    display: inline-block;
                    width: 85%;
                    .menu-item {
                        display: inline;
                        margin: 2vw;
                        a {
                            font-size: 35px;
                        }
                        &:nth-child(2), &:nth-child(3) {
                            // margin-right: 0;
                            position: relative;
                            &:before {
                                content: "";
                                width: 1px;
                                height: 50px;
                                background-color: $color-salmon;
                                opacity: 0.3;
                                display: inline-block;
                                margin-left: -2vw;
                                position: absolute;
                                transform: translateY(-20%);
                            }
                        }                        
                    }
                }
            }
        }

        @include grid-media-query(not-palm) {            
            .menu-mobile-ul-2 {
                ul.menu {
                    .menu-item {
                        a { font-size: 30px; }                     
                    }
                }
            }
        }

        .menu-mobile-ul-3 {
            position: absolute;
            bottom: 6%; //6.5vw;
            left: 25px;

            .tablet .portrait & {
                left: 50px;
            }

            ul.menu {
                .menu-item {                    
                    display: inline;
                    margin-right: 3.5vw;
                    a {
                        font-size: 1.6vw;
                        font-family: $fontSmallTitle;
                        color:#000000;
                        letter-spacing: 0;
                        text-transform: lowercase;
                    }
                }
            }            
            
            @include grid-media-query(not-palm) {
                position: absolute;
                bottom: 60px;
                left: 50px;    
                ul.menu {
                    .menu-item {                
                        a {
                            font-size: 0.55vw;
                        }
                    }
                }
            }
        }

        .social {
            position: absolute;
            bottom: 6%; //5vw;
            right: 6vw;
            li {
                display: inline-block;
                padding-left: 3.5vw;
                img {
                    width: 5vw;

                    .tablet .portrait & {
                        width:3.3vw;
                    }
                }
            }
            
            @include grid-media-query(not-palm) {
                position: absolute;
                bottom: 60px;
                right: 50px;
                li {
                    display: inline-block;
                    padding-left: 20px;    
                    img {
                        width: 20px;
                    }
                }
            }
        }
    }
}

#lang-selector {
    width: 70px;
    text-align: center;
    font-family: $fontSmallTitle;
    font-size: 11px;
    position: absolute;
    right: 20px;
    transition: opacity 0.5s, transform 0.5s;

    .tablet & {
        right: 44px;
    }
    
    @include grid-media-query(not-palm) {
        // right: 1.25vw;
        right: 44px;
    }

    ul {
        list-style-type: none;

        li {
            position: relative;
            // margin-top: 20px;
            padding: 10px 25px;
            
            &:nth-child(2), &:nth-child(3) {
                visibility: hidden; 
                display: none;
                background-color: #ffffff;

                a {
                    color: $color-salmon;    
                    &:hover {
                        color: $color-pink;    
                    }                
                }
            }

            &.selected {

                padding: 10px 0px;
                cursor: pointer;
                position: relative;
                top: 16px;
                height: 50px;
                color: #ffffff;
                transition: color 0.2s, top 0.2s;

                .tablet & {
                    top: 40px;
                    height: 74px;
                }

                @include grid-media-query(not-palm) {
                    top: 40px;
                    height: 74px;
                }

                &:after {
                    content:"";
                    background-image: url('../images/arrow_down.svg');
                    background-repeat: no-repeat;
                    width: 10px;
                    height: 10px;
                    margin-top: 2px;
                    transition: transform $duration-fast $sineout;
                    transform-origin: center center;
                }
            }
        }

        &:hover {
            li {
                &:nth-child(2), &:nth-child(3) {
                    visibility: visible; 
                    display: block;
                }

                &.selected {
                    &:after {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }









    /*****************************/
  
    &.menuOpened {
      position: fixed;
      top: 0px;
      right: 20px;
    }
    
    .zone {
      position: absolute;
      background-color: rgba(0,0,0,0);
      width: 200px;
      height: 200px;
      left: -100px;
      &:hover {
        // background-color: #FF00FF;
      }
    }
  
  
    &.lang-selector-iconiccreation .selected {color: $color-black;}
    &.lang-selector-timeline .selected {color: $color-black;}
    &.lang-selector-collections .selected {color: $color-black;}
    &.lang-selector-white-label .selected {color: $color-black;}
  
  
    &.menuOpened {
      .selected {
        color: $color-white;
      }
    }
  
    .selected {
      padding: 10px 0px;
      cursor: pointer;
      position: relative;
      font-size: 12px;
      top:16px;
      height: 50px;
      color: $color-white;
  
      &:after {
        content: url('/static/pictos/arrow_down_gold.svg');
        position: absolute;
        width: 10px;
        height: auto;
        margin-left:10px;
        margin-top:0;
        // top:50%;
        // right:0;
        transition: transform $duration-fast $sineout;
        transform-origin: center center;
      }
  
      &.active{ 
        &:after{
          transform: rotate(180deg);
        }
      }
    }
    .list {
      background-color: $color-white;
      width: 70px;
      padding: 5px;
      font-size: 12px;
      position: relative;
      top: 0px;
      color: $color-black;
  
      &-zone {
        background-color: #FF0000;
        width: 90px;
        height: 100px;
      }
  
      &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $color-white;
        position: absolute;
        top:-5px;
        transform: translateX(-50%);
      }
  
      &.slide-fade-leave-to {
        transition: all .2s;
      }
  
      &-item {
        cursor: pointer;
        margin: 10px;
        padding: 5px;
        a:hover{
          // font-weight: 700;
          text-decoration: none;
          color: $color-pink;
        }
      }
    }
  }
  





#logo {    
    position: absolute;
    top: 30px;
    left: $marginLeftDesktop;
    z-index: 3000;
    display: inline;

    a {
        position: relative;
        font-size: 0;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
    }

    .menu-mobile & {
        z-index: 1001;
    }

    @include grid-media-query(palm) {
        top: 20px;
        left: $marginLeftMobile;

        img {
            width: 80px;
            position: absolute;
        }
    }

    .white {
        position: absolute;
        left: 0;
        transition: opacity 0.7s;
        opacity: 1;
    }
    .black {opacity: 0;}

    &.to-black {
        .white {
            transition: opacity 0.7s;
            opacity: 0;
        }
        .black {
            opacity: 1;
        }
    }
}
