#intro-notes {
    position: fixed;
    z-index: 900;
    background-color: $color-salmon-lighter;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .hide {
        opacity: 0;
        transform: translateY(2vw);
        filter:blur(5px);
        @for $i from 1 through 6 {
            &:nth-child(#{$i}) {
                $t: $i * .2 + 0.0;
                transition: opacity 1s #{$t}s, transform 1s #{$t}s, filter 1s #{$t}s;
            }
        }
    }

    &.show .hide {
        transform: translateY(0);
        filter:blur(0px);
        opacity: 1;
        // transition: all 1s;
    }

    &.show .warning {
        opacity: 1;
    }


    .container {
        position: absolute;
        text-align: center;    
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .intro-notes-subtitle {
        font-family: $fontRegular;
        font-size: 3.3vw;
        margin-bottom: 3.6vw;
        
        @include grid-media-query(not-palm) {
            font-size: 1.145833vw;
            margin-bottom: 1.5625%;
        }
        @include grid-media-query(big-desk) {
            font-size: 22px;
        }
    }

    .intro-notes-title {
        font-family: $fontSmallTitle;
        font-size: 6vw;
        margin-bottom: 8vw;
        line-height: 1;
        
        @include grid-media-query(not-palm) {
            font-size: 2.34375vw;
            margin-bottom: 4.27vw;
        }
        @include grid-media-query(big-desk) {
            font-size: 45px;
            margin-bottom: 80px;
        }
    }

    .notes-container {
        max-width: 960px;
        margin: 0 auto;
        &-item {
            display: inline-block;
            vertical-align: middle;
            width: 30%;
            
            &:nth-child(3) {
                display: none;
            }
            @include grid-media-query(not-palm) {   
                width: 20%;
                &:nth-child(3) {
                    display: inline-block;
                }
            } 
        }
    }

    .title {
        color: $color-pink;
        font-family: $fontSmallTitle;
        text-align: center;
        font-size: 2.8vw;
        white-space: normal;

        .tablet & {
            font-size: 3vw;    
            width: 90%;
            // padding: 0% 6% 6%;
        }
    
        @include grid-media-query(not-palm) {   
            font-size: 0.625vw;
            width: auto;
            margin: 0 auto;
        } 
        @include grid-media-query(big-desk) {   
            font-size: 12px;
        } 
    }

    .logo {
        margin: 0 auto;
        text-align: center;
        height: 16vw;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        
        @include grid-media-query(not-palm) { 
            height: 7vw;
        } 

        @include grid-media-query(big-desk) {   
            height: 186px;
        } 

        .center {
            display: flex;
            text-align: center;
            justify-content: center;
        }

        img {
            width: auto;
            height: auto;
            max-width: 90%;
            max-height: 13vw;
            vertical-align: middle;
            object-fit: contain;            
        
            @include grid-media-query(not-palm) {   
                max-width: 70%;
                max-height: 6vw;
            }             
        
            @include grid-media-query(big-desk) {   
                max-width: 85%;
                max-height: 160px;
            } 
        }
    }

    .separator {
        width: 8.33vw;
        height: 1px;
        background-color: #dcdcdc;
        opacity: 0.15;
        margin: 6.5% auto;

        @include grid-media-query(not-palm) {
            width: 3.645833vw;
            margin: 1.302083vw auto;
        }

        @include grid-media-query(big-desk) {
            width: 70px;
            margin: 25px auto;
        }
    }

    .place {
        font-family: $fontSmallTitle;
        font-size: 2.1vw;
        
        @include grid-media-query(not-palm) {   
            font-size: 0.9375vw;
        } 
        @include grid-media-query(big-desk) {   
            font-size: 18px;
        } 
    }
}