#intro {
    position: fixed;
    z-index: 1000;
    background-color: $color-salmon-lighter;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .hide {
        opacity: 0;
        transform: translateY(2vw);
        filter:blur(5px);
        @for $i from 1 through 6 {
            &:nth-child(#{$i}) {
                $t: $i * .2 + 1.5;
                transition: opacity 1.5s #{$t}s, transform 1.5s #{$t}s, filter 1.5s #{$t}s;
            }
        }
    }

    &.show .hide {
        transform: translateY(0);
        filter:blur(0px);
        opacity: 1;
        // transition: all 1s;
    }

    &.show .warning {
        opacity: 1;
    }


    .container {
        position: absolute;
        text-align: center;    
        top: 50%;
        transform: translateY(-50%);

        @include grid-media-query(not-palm) {
            max-width: 900px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        svg.logo-50-transparent {
            width: 15.277778%;
            height: 15.277778%;
            margin: 0 auto 8.333333%;
            @include grid-media-query(not-palm) {
                width: 10.208333%;
                height: 10.208333%;
                margin-bottom: 1.822917vw;
            }

            #cut-off-top rect {
                transform: rotate(-90deg);
                transform-origin: 50%;
                transition: all 1s 1s;
                filter: blur(5px);
            }

            #cut-off-bottom rect {
                transform: rotate(90deg);
                transform-origin: 50%;
                transition: all 1s 1s;
                filter: blur(5px);
            }

            .logo-circle {
                opacity: 0;
                transition: all 1s;
                filter: blur(5px);
            }

            .logo-center {
                transform: rotate(-25deg);
                transform-origin: 50%;
                opacity: 0;
                transition: all 1s 0.4s;
                filter: blur(5px);
            }

            .text-top {
                transform-origin: 50%;
                transform: rotate(-25deg);
                opacity: 0;
                transition: all 1s 1s;
            }

            .text-bottom {
                transform-origin: 50%;
                transform: rotate(-25deg);
                opacity: 0;
                transition: all 1s 1s;
            }

            &.play {
                #cut-off-top rect {
                    transform: rotate(0deg);
                }
    
                #cut-off-bottom rect {
                    transform: rotate(0deg);
                }

                .logo-circle {
                    opacity: 1;
                    filter: blur(0);
                }

                .logo-center {
                    transform: rotate(0deg);
                    opacity: 1;
                    filter: blur(0);
                }
    
                .text-top {
                    transform: rotate(0deg);
                    opacity: 1;
                }
    
                .text-bottom {
                    transform: rotate(0deg);
                    opacity: 1;
                }
            }
        }

        .logo1 {
            width: 15.277778%;
            display: block;
            margin: 0 auto 8.333333%;
            @include grid-media-query(not-palm) {
                width: 9.22%;
                margin-bottom: 1.822917vw;
            }
        }
        .logo2 {
            width: 48.888889%;
            display: block;
            margin: 0 auto 6.25%;
            @include grid-media-query(not-palm) {
                width: 37.5%;
                margin-bottom: 2.34375%;
            }
        }

        .title {
            font-family: $fontSmallTitle;
            text-transform: lowercase;
            color: #000000;
            font-size: 3.472222vw;
            margin-bottom: 6.25%;

            @include grid-media-query(not-palm) {
                font-size: 1.302083vw;
                margin-bottom: 2.34375vw;
            }            
            @include grid-media-query(big-desk) {
                font-size: 22px;
                margin-bottom: 40px;
            }
        }
    // }

        .separator {
            height: 1px;
            width: 8.333333%;
            margin: 0 auto 5.555556%;
            background-color: #fee4da;
            @include grid-media-query(not-palm) {
                width: 6.666667%;
                margin-bottom: 2.083333vw;
            }
        }

        .question-container {
            position: relative;
        }

        .question, .answer-no {
            position: relative;
            font-family: $fontDin;
            color: #fab69c;
            font-size: 3.75vw;
            padding: 0 10%;
            margin-bottom: 5.555556%;
                                            
            .tablet .portrait & {
                font-size: 2.75vw;
            }

            @include grid-media-query(not-palm) {
                font-size: 13px;
                padding: 0 18%;
                margin-bottom: 2.34375%;
            }
            @include grid-media-query(big-desk) {
                font-size: 16px;
            }
        }

        .answer-no {
            // display: none;
            position: absolute;
            opacity: 0;
            top: 0;
            pointer-events: none;
        }

        .answer {
            margin: 0 auto;
            display: block;

            input {
                border: 1px solid #fab69c;
                font-family: $fontRegular;
                font-size: 7.638889vw;
                background-color: transparent;
                color: #fab69c;
                width: 22.916667%;
                height: 15vw;
                cursor: pointer;
                text-align: center;
                padding: 0px;

                // &:nth-child(1) {
                    margin: 2.4%;
                // }
                
                                
                .tablet .portrait & {
                    font-size: 4.638889vw;
                    width: 16.916667%;
                    height: 11vw;
                }
                
                @include grid-media-query(not-palm) {
                    font-size: 2vw;
                    width: auto;
                    height: auto;
                    min-width: 6.5vw;
                    padding: 0.7vw 1.3vw;
                    margin: 2.6% 1.7%;
                    transition: border-color 0.6s, color 0.5s;

                    &:hover {
                        // background-color: #fab69c;
                        color: $color-pink;
                        border-color: $color-pink;
                    }
                }
                
                
                @include grid-media-query(big-desk) {
                    font-size: 33px;
                    min-width: 110px;
                    padding: 12px 22px;
                }
            }
        }

    }

    .warning {
        font-size: 2.777778vw;
        font-family: $fontSmallTitle;
        text-transform: lowercase;
        color: #000000;
        padding: 0 10%;
        position: absolute;
        bottom: 3.944444%;
        text-align: center;

        opacity: 0;
        transition: opacity 1s 3s;
                                
        .tablet .portrait & {
            font-size: 11px;
            width: 100%;
        }
                
        @include grid-media-query(not-palm) {
            font-size: 0.625vw;
            bottom: 2.26%;
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        @include grid-media-query(big-desk) {
            font-size: 10px;
        }
    }
    
}