*.lazy, *.swiper-lazy {

    opacity: 0;
    /* transition: opacity 1s; */
    
    // .win &, .android & {
      filter: url('#svg-blur'); // Filter svg declared in header.php // For IE. Note: svg filter can't be animated
      filter: blur(5px);
      transition: filter 0.3s, opacity 0.3s;
     /*transition: opacity 0.3s;
      // }
      // animation-duration: 0.5s;
      // animation-name: lazy-show-in;
      // animation-fill-mode: forwards;
      
    opacity: 1;
    */

    transform: translateZ(0);
    perspective: 1000;
    backface-visibility: hidden;
}

*.lazy-loaded, *.swiper-lazy-loaded {
    opacity: 0;

    // .win &, .android & {
      filter: url('#svg-blur-out'); // Filter svg is in header.php // This filter creates a bug on ios chrome and safari, the image is flickering and part replaced by another image from the same page
      filter: blur(0);
      transition: filter 1s, opacity 0.3s;
    // }
    opacity: 1;
    
    // animation-duration: 1.3s;
    // animation-name: lazy-show-in;
    // animation-fill-mode: forwards;

    // .win & {
    //   animation-duration: 1.3s;
    //   animation-name: lazy-blurry-show-in;
    //   animation-fill-mode: forwards;
    // }

    transform: translateZ(0);
    perspective: 1000;
    backface-visibility: hidden;
}



  
  @keyframes lazy-show-in {
    from {
      opacity: 0;      
      // filter: blur(2px);
    }
  
    to {
      opacity: 1;      
      // filter: blur(0px);
    }
  }
  
  @keyframes lazy-blurry-show-in {
    from {
      opacity: 0;      
      filter: blur(2px);
    }
  
    to {
      opacity: 1;      
      filter: blur(0px);
    }
  }



// img[data-src].lazy {
//     opacity: 0;
// }