/*****
  Taken from laurent-perrier - grand siecle
*************/

/*
slide.css
*/


.slide {
  /* min-width: 125vw;
  width: 125vw; */
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
  padding: 0 2em;
  /* flex: 1 0 auto; */

  // Add Renaud
  height: 100vh;

  .visuallyhidden {
    display: none;
  }
}

.slide_dark {
  background-color: $color-primaryDark;
  color: $color-primary;

  .separator {
    border-color: #393939;
  }

  blockquote,
  address,
  strong,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-primaryLighter;
  }
}
.slide_light {
  background-color: $color-primaryLighter;
  color: $color-primary;

  .title,
  strong,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-primaryDark;
  }
}

@media (min-width: 769px) {
  .slider-container {
    margin-left: 70px;
    overflow-y: hidden;
  }
  .slide {
    // min-width: calc(100vw - 70px);
    // width: calc(100vw - 70px);
    padding: 0;
    overflow: hidden;
  }
}

.pac-container {
  z-index: 10000 !important;
}
/*
section_gmap-store-locator.css
*/

  .section_gmap-store-locator {
    padding: 0;
  
    .cluster {
      background: transparent url(../images/pin-cluster.svg) no-repeat;
      background-size: 100% 100%;
      width: 40px;
      height: 52px;
      font-size: 0.8rem;
      padding-top: 8px;
      font-family: $fontSmallTitle;
      text-transform: lowercase;
      color: #ffffff;
      text-align: center;

      @include grid-media-query(not-palm) {
        line-height: 39px;
        padding-top: 0;
      }
    }
    
    .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 100%;
      visibility: visible;
      &.hidden {
        visibility: hidden;
      }
      .background-wrapper {
        /* visibility: visible; */
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        video {
          display: none;
        }
        picture {
          opacity: 1;
          transition: opacity 0.5s;
        }
        &.video-playing {
          picture {
            opacity: 1;
          }
        }
      }
      .background-map {
        height: 100vh;
        width: 100%;
        background-position: center;
        background-size: cover;
      }
      .search-box {
        // z-index: 1;
        position: relative;
        // align-self: center;
        margin: 30% auto;
        max-width: calc(100% - 4em);

        &.has-webstore-bloc {
          margin-top: 12vh;
          align-self: auto;

          @include grid-media-query(not-palm) {            
            margin-top: 0;
          }
        }
        .title_big {
          display: flex;
          align-self: flex-start;
          width: 100%;
          margin-top: 60px;
          margin-bottom: 15px;
          font-size: 7vw;
          text-align: center;
        }
        .separator {
          width: 80px;
          margin-bottom: 18px;
        }
        .icon-monogramme {
          display: none;
          font-size: 65px;
          color: #bdbdbd;
        }
        #submitSearchButton,
        .btn-store-external  {
          background-color: #3e0c3f;
          color: #fff;
          // display: inline-flex;
          padding: 0 22px;
          // font-size: 14px;
          // justify-self: flex-end;
          line-height: 44px;
          height: 44px;
          &:focus {
            outline: none;
          }
        }

        
        .store-search-buttons-container {
          display: flex;
          justify-content: space-between;
        }

        .btn-store-external-container {
          justify-content: flex-end;
        }
        .btn-store-external {
          display: inline-flex;
          justify-self: flex-end;
          align-items: center;
          text-decoration: none;
          &:focus {
            outline: none;
          }
        }  

        #submitSearchButton,
        .btn-store-external {
          justify-content: center;
          height: 40px;
          width: 100%;          
        }
      }
    }
  
    .form-group {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      // height: 50px;
      .icon-search {
        position: absolute;
        line-height: 50px;
        left: 19px;
        color: #b5b5b5;
      }
    }
  
    .search-input {
      appearance: none;
      border-radius: 0;
      
      display: inline-flex;
      align-self: flex-start;
      vertical-align: center;
      height: 50px;
      padding-left: 50px;
      border: 1px solid #e2e4e7;
      font-family: $fontSmallTitle;
      text-transform: lowercase;
      font-size: 14px;
      line-height: 50px;
      color: #000;
      flex-grow: 2;
      min-width: 100px;
      width: 100%;
      margin-bottom: 4px;
      
      &::placeholder {
        font-family: $fontSmallTitle;
        text-transform: lowercase;
        color: #b5b5b5;
        vertical-align: -2px;
      }
      &:focus {
        outline: unset;
      }
    }
  
    &.country-us {
      .container .search-box {
        #submitSearchButton,
        .btn-store-external {
          justify-content: center;
          height: 40px;
          width: calc(50% - 2px);
          align-items: center;
          display: flex;
        }
      }
    }
  
    .bloc {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &.dark-bloc {
        background-color: #22001b;
      }
      &.webstore-bloc {
        width: 100%;
        height: 45%;
        max-height: 680px;
        right: 0;
        top: 55%;
        transform: translateY(0);
        // top: auto;
        // bottom: 0;
        header {
          padding: 1rem 1.7rem 0;
          h2 {
            font-family: $fontRegular;
            color: #fff;
            font-size: 1.2rem;
            text-align: left;
            padding: 0 0 0.8rem;
          }
          .separator {
            width: 25%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.15);
          }
        }
        footer {
          padding: 0 1.7em;
          button {
            width: 100%;
            height: 60px;
            background-color: #5d1e50;
            color: #fff;
            margin-bottom: 14px;
            font-size: 1rem;
            cursor: pointer;
          }
          .btn-link2 {
            // font-size: 1rem;
            font-size: 12px;
            line-height: 1.1;
          }
        }
        .content {
          position: relative;
          padding-left: 1.7rem;
          padding-right: 1rem;
          margin-right: 1rem;
          margin-bottom: 20px;
          flex: 2;
          overflow: hidden;
          li {
            margin-top: 0;
            list-style-type: none;
            padding-top: 1rem;
            &:not(:last-child) {
              border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            }
          }
          h3 {
            display: inline-block;
            font-family: $fontRegular;
            letter-spacing: 1px;
            color: #fff;
            margin-bottom: 0;
            width: 60vw;
            max-width: 100%;
            text-transform: uppercase;
            font-size: 1rem;
          }
          .website {
            display: inline-block;
            color: #a75997;
            margin-bottom: 5px;
            width: 100%;
          }
          .buy-link {
            vertical-align: top;
            display: inline-block;
            border-bottom: 1px solid #ffffff;
            margin-bottom: 15px;
          }
          a {
            text-decoration: none;
            .icon {
              display: none;
              text-decoration: none;
              font-size: 1.7rem;
              margin-top: -0.9rem;
            }
            .label {
              // display: none;
            //   font-family: $fontSmallTitle;
              font-family: $fontRegularItalic;
              font-size: 11px;
              text-decoration: none;
              color: #fff;
              // border: 1px solid #fff;
              // padding: 5px 9px 8px 9px;
            }
            // &:hover {
            //   .label {
            //     background-color: #fff;
            //     color: #151515;
            //   }
            // }
          }
          .ps__rail-y {
            background-color: #333333 !important;
            display: none;
          }
          .ps__thumb-y {
            background-color: $color-primaryLight !important;
            display: none;
          }
        }
      }
      &.result-search-bloc {
        width: 100%;
        height: 45%;
        max-height: 680px;
        right: 0;
        top: 55%;
        transform: translateY(0);
        header {
          padding: 20px 27px;
        }
        .content {
          position: relative;
          padding-left: 1.7rem;
          padding-right: 1rem;
          margin-right: 1rem;
          margin-bottom: 20px;
          flex: 2;
          overflow: hidden;
          ul {
            position: relative;
          }
          li {
            padding: 25px 0;
            list-style-type: none;
            cursor: pointer;
            opacity: 0.4;
            &.highlight {
              opacity: 1;
            }
            &:not(:last-child) {
              border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            }
          }
          h3 {
            font-family: $fontRegular;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #fff;
            margin: 0;
          }
          .ps__rail-y {
            background-color: #333333 !important;
            display: none;
          }
          .ps__thumb-y {
            background-color: $color-primaryLight !important;
            display: none;
          }
        }
      }
    }
  
    .map-container {
      position: absolute;
      width: 100%;
      height: 100%;
      &.show {
        z-index: 3000;
      }
      .close-map-button {
        position: absolute;
        color: #fff;
        background-color: #000;
        padding: 0.5rem;
        width: 37px;
        height: 37px;
        right: 15px;
        top: 15px;
        cursor: pointer;
        a {
          text-decoration: none;
        }
        .icon-cross {
          vertical-align: middle;
        }
      }
    }
  
    .gmap-container {
      position: absolute;
      width: 100%;
      height: 55%;
    }
  }
  
  .webstores-modal {
    display: flex;
    flex-direction: column;
    background-color: #3e0c3f;
    color: #fff;
    height: 100%;
    padding: 70px 30px 10px;
    &.js-modal-open {
      z-index: 6;
    }
    h1 {
      color: #fff;
    }

    header {
      padding: 7vw 2vw 4vw 20px;

      @include grid-media-query(not-palm) {
        padding: 60px 20px 0px 40px;
      }

      @include grid-media-query(big-desk) {
        padding: 60px 20px 0px 40px;
      }

      .title_big {
        margin-bottom: 2vw;
        font-size: 5vw;

        @include grid-media-query(not-palm) {
          margin-bottom: 2vw;
          font-size: 3vw;
        }

        @include grid-media-query(big-desk) {
          margin-bottom: 2vw;
          font-size: 60px;
        }
      }
    }

    .close-modal-button {
      position: absolute;
      color: #fff;
      background-color: #000;
      padding: 0.5rem;
      width: 37px;
      height: 37px;
      right: 15px;
      top: 15px;
      a {
        text-decoration: none;
      }
    }
    .content {
      position: relative;
      margin-top: 10px;
      padding-right: 15px;
      overflow: hidden;

      .ps__rail-y {
        background-color: #333333 !important;
        display: none;
      }
      .ps__thumb-y {
        background-color: $color-primaryLight !important;
        display: none;
      }
    }
    .stores-list {
      padding-left: 20px;
      li {
        display: block;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        padding: 12px 0;
        h3 {
          color: #fff;
          font-family: $fontRegular;
          font-size: 1rem;
          margin: 0;
          width: 60vw;
          display: inline-block;
        }
        .website {
          display: inline-block;
          color: #a75997;
          width: 60vw;
          .icon {
            display: none;
            font-family: 'icomoon';
            content: '\e905';
            font-size: 1.4rem;
            vertical-align: middle;
            padding-right: 15px;
          }
        }
        .buy-link {
          vertical-align: top;
          float: right;
          display: inline-block;
        }
        a {
          text-decoration: none;
          .icon {
            display: block;
            text-decoration: none;
            font-size: 1.7rem;
            margin-top: -0.9rem;
          }
          .label {
            display: none;
            // font-family: $fontSmallTitle;
            font-family: $fontSmallTitle;
            font-size: 11px;
            text-transform: lowercase;
            text-decoration: none;
            color: #fff;
            border: 1px solid #fff;
            padding: 5px 9px 8px 9px;
          }
          &:hover {
            .label {
              background-color: #fff;
              color: #151515;
            }
          }
        }
      }
    }
  }
  
  @media only screen and (max-height: 568px) {
    .section_gmap-store-locator {
      .container {
        .search-box {
          max-width: 280px;
          .title_big {
            margin-top: 30px;
            margin-bottom: 15px;
          }
          .icon-monogramme {
            display: none;
          }
        }
        .bloc {
          &.webstore-bloc {
            footer {
              button {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
      .form-group {
        height: 40px;
        .icon-search {
          line-height: 40px;
        }
      }
      .search-input {
        font-size: 14px;
      }
    } 
  }
  
  @media (min-width: 769px) {
    .section_gmap-store-locator {
      &.country-us {
        .container .search-box .form-group {
          flex-direction: column;
        }
      }
      .container {
        .background-wrapper {
          video {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          &.video-playing {
            picture {
              opacity: 0;
            }
          }
        }
        justify-content: flex-start;

        .search-box {
          align-self: center;
          margin-top: 0;
          margin-left: 4vw;
          max-width: 40vw;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          .title_big {
            margin-top: 0;
            margin-bottom: 30px;
            text-align: left;
            font-size: 3vw;
          }
          .separator {
            width: 80px;
            margin-bottom: 36px;
          }
          .icon-monogramme {
            display: block;
            font-size: 65px;
            color: #bdbdbd;
          }
          
          .form-group {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            // height: 50px;
            .icon-search {
              position: absolute;
              line-height: 50px;
              left: 19px;
              color: #b5b5b5;
            }
          }

          .store-search-buttons-container {
            display: flex;
            justify-content: space-between;
          }
    
          .btn-store-external-container {
            justify-content: flex-end;
          }

          #submitSearchButton,
          .btn-store-external {
            background-color: #3e0c3f;
            color: #fff;
            display: inline-flex;
            padding: 0 33px;
            font-size: 18px;
            justify-self: flex-end;
            height: 50px;
            line-height: 50px;
            border: 0;
            &:focus {
              outline: none;
            }
          }
        }
      }
      .bloc {
        &.webstore-bloc {
          width: 400px;
          height: 66vh;
          max-height: 680px;
          right: 3vw;
          top: 50%;
          transform: translateY(-50%);
          header {
            padding-left: 50px;
            h2 {
              font-size: 1.9rem;
            }
          }
          footer {
            padding: 0;
            button {
              width: 100%;
              height: 60px;
              background-color: #5d1e50;
              color: #fff;
              padding-bottom: 10px;
              margin-bottom: 0;
              font-size: 1rem;
            }
          }
          .content {
            position: relative;
            padding-left: 50px;
            padding-right: 34px;
            margin-right: 31px;
            margin-bottom: 20px;
            flex: 2;
            overflow: hidden;
            li {
              margin-top: 0;
              &:not(:last-child) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.15);
              }
            }
            h3 {
              font-family: $fontRegular;
              letter-spacing: 1px;
              color: #fff;
              margin-bottom: 0;
            }
            .website {
              margin-bottom: 10px;
              // .icon {
              //   display: inline-block;
              // }
            }
            .buy-link {
              margin-bottom: 20px;
            }
            a {
              text-decoration: none;
              .label {
                display: block;
                font-family: $fontRegularItalic;
                font-size: 12px;
                text-decoration: none;
                color: #fff;
                // border: 1px solid #fff;
                // padding: 5px 9px 8px 9px;
              }
              // &:hover {
              //   .label {
              //     background-color: #fff;
              //     color: #151515;
              //   }
              // }
            }
          }
        }
        &.result-search-bloc {
          width: 400px;
          height: 66vh;
          max-height: 680px;
          right: 3vw;
          top: 50%;
          transform: translateY(-50%);
          header {
            padding: 20px 27px;
          }
          .content {
            position: relative;
            padding-left: 50px;
            padding-right: 34px;
            margin-right: 31px;
            margin-bottom: 20px;
            flex: 2;
            overflow: hidden;
            ul {
              position: relative;
            }
            li {
              padding: 25px 0;
              cursor: pointer;
              opacity: 0.4;
              &.highlight {
                opacity: 1;
              }
              &:not(:last-child) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.15);
              }
            }
            h3 {
              font-family: $fontRegular;
              letter-spacing: 1px;
              text-transform: uppercase;
              color: #fff;
              margin: 0;
            }
            .ps__rail-y {
              background-color: #333333 !important;
              display: none;
            }
            .ps__thumb-y {
              background-color: $color-primaryLight !important;
              display: none;
            }
          }
        }
      }
      .map-container {
        .close-map-button {
          position: absolute;
          color: #fff;
          background-color: #000;
          padding: 0.5rem;
          width: 37px;
          height: 37px;
          right: 15px;
          top: 15px;
          a {
            text-decoration: none;
          }
        }
      }

      
      .search-input {
        appearance: none;
        border-radius: 0;
        
        display: inline-flex;
        align-self: flex-start;
        vertical-align: center;
        height: 50px;
        padding-left: 50px;
        border: 1px solid #e2e4e7;
        font-family: $fontSmallTitle;
        text-transform: lowercase;
        font-size: 17px;
        line-height: 50px;
        color: #000;
        flex-grow: 2;
        min-width: 100px;
        width: 100%;

        &::placeholder {
          font-family: $fontSmallTitle;
          text-transform: lowercase;
          color: #b5b5b5;
          vertical-align: -2px;
        }
        &:focus {
          outline: unset;
        }
      }
  
      .gmap-container {
        height: 100%;
      }
    }
  
    .webstores-modal {
      padding: 63px 44px 56px 144px;
      .stores-list {
        li {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          padding: 20px;
          h3 {
            color: #fff;
            font-family: $fontRegular;
            font-size: 1.4rem;
            margin: 0;
            width: 30vw;
          }
          .website {
            width: 30vw;
            &:before {
              font-family: 'icomoon';
              content: '\e905';
              font-size: 1.4rem;
              vertical-align: middle;
              padding-right: 15px;
            }
          }
          a {
            text-decoration: none;
            .icon {
              display: none;
              text-decoration: none;
              font-size: 1.7rem;
              margin-top: -0.9rem;
            }
            .label {
              display: block;
              font-family: $fontSmallTitle;
              font-size: 11px;
              text-transform: lowercase;
              text-decoration: none;
              color: #fff;
              border: 1px solid #fff;
              padding: 9px;
              line-height: 11px;
            }
            &:hover {
              .label {
                background-color: #fff;
                color: #151515;
              }
            }
          }
        }
      }
    }
  }
  
  @media (min-width: 1440px) {
    .section_gmap-store-locator {
      .container {
        .search-box {
          margin-left: 10vw;
          max-width: 40vw;             
          width: 100%;  
        }
      }
      .bloc {
        &.webstore-bloc {
          width: 400px;
          height: 66vh;
          max-height: 680px;
          right: 86px;
          top: 50%;
          transform: translateY(-50%);
          .content {
            li {
              margin-top: 10px;
            }
            h3 {
              letter-spacing: 1px;
              margin-bottom: 0;
            }
          }
        }
        &.result-search-bloc {
          right: 86px;
          .content {
            ul {
              position: relative;
            }
          }
        }
      }
    }
  }
  