.contest {
    
    .title {
        font-family: $fontSmallTitle;
        color: $color-pink;
        font-size: 9.02vw;
        padding: 0 3.5%;
        
        @include grid-media-query(not-palm) {
            font-size: 3.15vw;
            padding: 0 14.06%;
        }
        
        @include grid-media-query(big-desk) {
            font-size: 60px;
        }
    }

    &-header {

        width: 100%;
        height: 100vh;
        position: relative;

        .background {
            width: 100%;
            height: 90vh;
            font-size: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            @include grid-media-query(not-palm) {
                height: 90vh;
            }
        }
        
        .container {
            width: 85%;
            background-color: #ffffff;
            text-align: center;
            position: absolute;
            padding: 6.1% 7.5%;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            @include grid-media-query(not-palm) {
                max-width: 1061px;
                margin: 0 auto;
                padding: 2.708333%;
            }

            @include grid-media-query(big-desk) {
                max-width: 1061px;
            }
            
            &-title {
                font-size: 3.055556vw;

                @include grid-media-query(not-palm) {
                    font-size: 0.9375vw;
                }
                
                @include grid-media-query(big-desk) {                                        
                    font-size: 18px;
                }
            }

            &-resume {                            
                font-size: 6.944444vw;
                margin-top: 3%;

                @include grid-media-query(not-palm) {             
                    font-size: 2.34375vw;
                }

                @include grid-media-query(big-desk) {                    
                    font-size: 45px;
                }
            }

            .separator {
                width: 8.33vw;
                height: 1px;
                background-color: #dcdcdc;
                margin: 6.5% auto;

                @include grid-media-query(not-palm) {
                    width: 3.645833vw;
                    margin: 2.60vw auto 0.520833vw;
                }

                @include grid-media-query(big-desk) {
                    width: 70px;
                    margin: 50px auto 10px;
                }
            }
        }
    }

    &-form {
        max-width: 1061px;
        margin: 0 auto;
        position: relative;

        .modal-newsletter-header {        
            padding-top: 0;        
            padding-bottom: 5%;

            @include grid-media-query(not-palm) {        
                padding-bottom: 0;        
                padding-top: 0;    
            }
        
            .subtitle {
                font-family: $fontDin;
                text-align: left;
                font-size: 3.9375vw;
                line-height: 1.2;

                @include grid-media-query(not-palm) {
                    font-size: 0.9375vw;
                    margin-bottom: 2.604167vw;
                    line-height: 1.8;
                }

                @include grid-media-query(big-desk) {
                    font-size: 18px;
                    margin-bottom: 50px;
                }   
            }

        }
        
        .modal-newsletter-body .form-group {
            @include grid-media-query(not-palm) {
                margin-bottom: 7px;
            }
        }

        .contest-message-success {
            text-align: center;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            
            @include grid-media-query(not-palm) {   
            } 
        }
    }
}