.life-article {
    
    .title {
        font-family: $fontSmallTitle;
        color: $color-grey;
        font-size: 9.02vw;
        padding: 0 3.5%;
        
        @include grid-media-query(not-palm) {
            font-size: 3.15vw;
            padding: 0 14.06%;
        }
        
        @include grid-media-query(big-desk) {
            font-size: 60px;
        }
    }

    &-header {

        width: 100%;
        height: 100vh;
        position: relative;

        .background {
            width: 100%;
            height: 90vh;
            font-size: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            @include grid-media-query(not-palm) {
                height: 90vh;
            }
        }
        
        .container {
            width: 85%;
            background-color: #ffffff;
            text-align: center;
            position: absolute;
            padding: 6.1% 7.5%;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            @include grid-media-query(not-palm) {
                max-width: 1061px;
                margin: 0 auto;
                padding: 2.708333%;
            }

            @include grid-media-query(big-desk) {
                max-width: 1061px;
            }
            
            &-title {
                font-size: 3.055556vw;

                .tablet .portrait & {        
                    font-size: 2.5vw;
                }

                @include grid-media-query(not-palm) {
                    font-size: 0.9375vw;
                }
                
                @include grid-media-query(big-desk) {                                        
                    font-size: 18px;
                }
            }

            &-resume {                            
                font-size: 6.944444vw;
                margin-top: 3%;

                .tablet .portrait & {        
                    font-size: 5.9vw;
                }

                @include grid-media-query(not-palm) {             
                    font-size: 2.34375vw;
                }

                @include grid-media-query(big-desk) {                    
                    font-size: 45px;
                }
            }

            .separator {
                width: 8.33vw;
                height: 1px;
                background-color: #dcdcdc;
                margin: 6.5% auto;

                @include grid-media-query(not-palm) {
                    width: 3.645833vw;
                    margin: 2.60vw auto;
                }

                @include grid-media-query(big-desk) {
                    width: 70px;
                    margin: 50px auto;
                }
            }

            &-share {
                .txt {
                    font-family: $fontSmallTitle;
                    font-size: 3.61vw;
                    color: $color-grey;

                    .tablet .portrait & {
                        font-size: 2.5vw;
                    }

                    @include grid-media-query(not-palm) {
                        font-size: 0.9375vw;
                    }

                    @include grid-media-query(big-desk) {
                        font-size: 18px;
                    }
                }
                .picto {
                    width: 3.33vw;
                    display: inline-block;
                    backface-visibility: hidden;
                    transform: translateZ(0) scale(1.0, 1.0);

                    img {
                        transform: translateY(0);
                        transition: transform 0.3s;
                    }

                    &:hover {
                        img {
                            transform: translateY(-3px);
                            transition: transform 0.3s;
                        }
                    }

                    @include grid-media-query(not-palm) {
                        width: 0.78125vw;
                    }

                    @include grid-media-query(big-desk) {
                        width: 15px;
                    }

                    &:nth-child(2) {
                        margin: 0 5% 0 3%;

                        @include grid-media-query(not-palm) {
                            margin: 0 1.5625% 0 0.8%;
                        }
                    }
                }
            }
        }
    }

    &-content {

        margin: 9% auto 0;

        @include grid-media-query(not-palm) {
            margin: 0 auto;
        }

        .resume {
            width: 85%;
            margin: 0 auto;
            font-family: $fontDin;
            font-size: 3.61vw;
            color: #515151;
            margin-bottom: 9.7%;

            .tablet .landscape & {
                font-size: 1.2vw !important;
            }

            @include grid-media-query(not-palm) {
                font-size: 0.9375vw;                
                margin: 0 30.73% 4%;
                width: auto;
            }

            @include grid-media-query(big-desk) {
                font-size: 18px;    
            }
        }

        &-discover {
            text-align: center;
            margin: 3% auto 10%;

            @include grid-media-query(not-palm) {
                margin: 3% auto 5%;
            }
        }

        .gabarit-images-verticales {
            text-align: center;
            width: 85%;
            margin: 0 auto 9.7%;

            @include grid-media-query(not-palm) {
                max-width: 1200px;
                width: auto;
                margin-bottom: 4%;
            }

            img {
                @include grid-media-query(not-palm) {
                    display: inline-block;
                    width: 45%;
                    vertical-align: top;
                }
                &:nth-child(1) {
                    margin-bottom: 10%;
                    @include grid-media-query(not-palm) {
                        margin-right: 6%;
                        margin-bottom: 0;
                    }
                }
            }
        }

        .gabarit-images-horizontales {
            text-align: center;
            width: 100%;
            margin: 0 auto 9.7%;

            @include grid-media-query(not-palm) {
                max-width: 1790px;
                width: auto;
                margin: 0 3.385417% 4%;
            }

            img {
                @include grid-media-query(not-palm) {
                    display: inline-block;
                    width: 48%;
                    vertical-align: top;
                }
                &:nth-child(1) {
                    margin-bottom: 5%;
                    @include grid-media-query(not-palm) {
                        margin-right: 2.5%;
                        margin-bottom: 0;
                    }
                }
            }
        }

        .gabarit-image-fullwidth {
            text-align: center;
            width: 100%;
            margin: 0 auto 9.7%;

            @include grid-media-query(not-palm) {
                position: relative;
                margin: 8.21% 0 4%;
            }

            &-bloc {
                background-color: #ffffff;
                width: 85%;
                margin: -12% auto 0; 
                position: relative;
                padding: 6% 5%;

                @include grid-media-query(not-palm) {
                    padding: 2.083333%;
                    position: absolute;
                    top: 0; //-5.208333%;
                    margin: -5.21% 0 0;
                    left: 7.8125%;
                    width: 570px;
                }
                
                .title {
                    font-family: $fontSmallTitle;
                    text-align: center;
                    font-size: 3.055556vw;
                    color: #000000;
                    margin-bottom: 4%;
                    line-height: 0.9;
                    letter-spacing: 0.1em;

                    @include grid-media-query(not-palm) {
                        padding: 0;
                        margin: 0 0 1.5625%;
                        text-align: left;
                        font-size: 0.9375vw;
                    }

                    @include grid-media-query(not-palm) {
                        font-size: 18px;
                    }
                    
                }

                .resume {
                    width: 100%;
                    margin-bottom: 0;

                    @include grid-media-query(not-palm) {
                        padding: 0;
                        margin: 0;
                        text-align: left;
                        font-size: 0.9375vw;
                    }

                    @include grid-media-query(not-palm) {
                        font-size: 18px;
                    }
                }
            }
        }

        .gabarit-images-gallery {

            text-align: center;
            width: 100%;
            margin: 0 auto 9.7%;

            @include grid-media-query(not-palm) {
                width: 90%;
                position: relative;
                margin: 8.21% auto 4%;
            }

            .swiper-button {
                
                position: absolute;
                top: 20px;
                right: 20px;
                    
                @include grid-media-query(not-palm) {
                    top: 50px;
                    right: 0;
                }

                &-prev {
                    right: 0;
                    margin-right:2.5vw; 
                    width: 8vw;
                    height: 8vw;
                    
                    @include grid-media-query(not-palm) {
                        width: 36px;
                        height: 36px;
                        margin-right:10px; 
                    }

                    .head {
                        transition: transform 0.5s;
                    }
                    .tail {
                        transition: transform 0.5s;
                        transform: translateX(0);
                    }
                    &:hover {
                        .head {
                            transition: transform 0.5s;
                            transform: translateX(-4px);
                        }
                        .tail {
                            transition: transform 0.5s;
                            transform: translateX(6%);
                        }
                    }
                }
                &-next {
                    right: 0;
                    // margin-right:3vw; 
                    width: 8vw;
                    height: 8vw;

                    @include grid-media-query(not-palm) {
                        width: 36px;
                        height: 36px;
                        margin-right:30px; 
                    }
                        
                    .head {
                        transform: translateX(0);
                        transition: transform 0.5s;
                    }
                    .tail {
                        transform: translateX(0);
                        transition: transform 0.5s;
                    }
                    &:hover {
                        .head {
                            transform: translateX(4px);
                            transition: transform 0.5s;
                        }
                        .tail {
                            transform: translateX(-6%);
                            transition: transform 0.5s;
                        }
                    }
                }
            }

            &-bloc {
                background-color: #ffffff;
                width: 85%;
                margin: -12% auto 0; 
                position: relative;
                padding: 6% 5%;
                z-index: 2;

                @include grid-media-query(not-palm) {
                    padding: 2.083333%;
                    position: absolute;
                    top: 0; //-5.208333%;
                    margin: -5.21% 0 0;
                    left: 3.8125%;
                    width: 570px;
                }

                .title {
                    font-family: $fontSmallTitle;
                    text-align: center;
                    font-size: 3.055556vw;
                    color: #000000;
                    margin-bottom: 4%;
                    line-height: 0.9;
                    letter-spacing: 0.1em;


                    @include grid-media-query(not-palm) {
                        padding: 0;
                        margin: 0 0 1.5625%;
                        text-align: left;
                        font-size: 0.9375vw;
                    }

                    @include grid-media-query(not-palm) {
                        font-size: 18px;
                    }
                }

                .resume {
                    width: 100%;
                    margin-bottom: 0;

                    @include grid-media-query(not-palm) {
                        padding: 0;
                        margin: 0;
                        text-align: left;
                        font-size: 0.9375vw;
                    }

                    @include grid-media-query(not-palm) {
                        font-size: 18px;
                    }
                }
            }

        }
    }

    &-nav {
        font-size: 0;

        .nav-item {
            display: block;
            position: relative;
            border-top: 1px solid #ececec;

            @include grid-media-query(not-palm) {
                // display: inline-block;
                width: 50%;
                float: right;
                transition: background-color 0.5s;

                &:hover {
                    background-color: #fef4f0;
                    .container-visual {
                        opacity: 1;
                    }
                    .container-bloc {
                        .title {
                            // display: block;
                            opacity: 1;
                            // visibility: visible;
                        }
                        .real-title {                            
                            transform: translateY(0);
                            transition: transform 0.3s;
                        }
                    }
                }
            }

            &-next {    
                @include grid-media-query(not-palm) {   
                    border-right: 1px solid #ececec; 
                    border-left: 1px solid #ececec;
                    .container-visual {
                        float: right;
                    }
                    .container-bloc {
                        left: 0 !important;
                    }
                }
            }
    
            &-prev {                
                @include grid-media-query(not-palm) {   
                    border-left: 0px solid #ececec;
                }
            }

            .container {
                width: 100%;
                position: relative;
    
                &-visual {
                    width: 26%;
                    padding-top: 43vw;
                    background-size: cover;
                    background-position: center;
        
                    @include grid-media-query(not-palm) {
                        width: 20.5%;    
                        padding-top: 15vw;                    
                        transition: opacity 0.5s;
                        opacity: 0;
                    }
                }
        
                &-bloc {
                    // border-top: 1px solid #ececec;
                    position: absolute;
                    width: 74%;
                    left: 26%;
                    top: 0%;
                    height: 100%;
        
                    @include grid-media-query(not-palm) {
                        left: 20.5%;
                        width: 79.5%;
                    }
        
                    .center {
                        margin-left: 9%;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 60%;
        
                        @include grid-media-query(not-palm) {
                            margin-left: 0;
                            width: 100%;
                            padding: 4%;
                        }
                    }
        
                    .title {
                        font-size: 3.05vw;
                        color:$color-pink;
                        padding: 0;                
                        margin-bottom: 3.33%;
        
                        @include grid-media-query(not-palm) {
                            // display: none;
                            font-size: 0.9375vw;
                            text-align: center;
                            opacity: 0;
                            transition: opacity 0.5s;
                            transform: perspective(1px);
                        }
        
                        @include grid-media-query(big-desk) {
                            font-size: 18px;
                        }
                    }
        
                    .real-title {
                        font-size: 4.44vw;
                        // margin-left: 10%;
        
                        @include grid-media-query(not-palm) {
                            font-size: 1.822917vw;
                            text-align: center;
                            transform: translateY(-30%);
                            transition: transform 0.3s;
                        }
        
                        @include grid-media-query(big-desk) {
                            font-size: 35px;
                        }
                    }
                }
            }
        }

    }

}