.heritage {

    
    .title {
        font-size: 8.02vw;
        padding: 0 3.5%;
        width: 85%;
        margin: 0 auto;
        
        @include grid-media-query(not-palm) {
            font-size: 3.15vw;
            padding: 0 14.06%;
            line-height: 1.1;
        }
        
        @include grid-media-query(big-desk) {
            font-size: 60px;
        }
    }

    

    .desc {
        font-family: $fontDin;
        font-size: 3.61vw;
        line-height: 1.5;
        padding: 0 8%;        
        color: #515151;

        @include grid-media-query(not-palm) {                
            font-size: 1.2vw;
            line-height: 1.8;
            padding: 0;
        }

        @include grid-media-query(big-desk) {                
            font-size: 18px;
        }
    }

    &-header {

        width: 100%;
        height: 100vh;
        position: relative;

        .background {
            width: 100%;
            height: 100vh;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }

        .container {

            top: 40%;
            position: absolute;
            width: 100%;
            transform: translateY(-50%);

            @include grid-media-query(not-palm) {
                position: absolute;
                // min-width: $widthContentDesktop;
                width: 45vw;
                left: 50%;
                transform: translate(-50%, -72%);
                top: 50%;
            }
            
            &-title {
                width: 90%;
                margin: 11vw auto;
                letter-spacing: 0.2em;
                
                .tablet .portrait & {
                    // font-size: 7vw;
                    margin: 0 auto 3%;
                }
                
                @include grid-media-query(not-palm) { 
                    width: 100%;                   
                    margin: 0;
                    line-height: 0.9;
                }
            }

            &-resume {           
                display: block;
                font-size: 10.42vw;
                text-align: center;
                padding: 0 7vw;

                .tablet .portrait & {
                    font-size: 8vw;
                }
                
                @include grid-media-query(not-palm) {                    
                    font-size: 3.9vw;
                    margin-top: 4.1%;
                    // margin-bottom: 7%;
                }

                @include grid-media-query(big-desk) {                    
                    font-size: 75px;
                }
            }
            
        }

    }


    &-presentation {
        text-align: center;
        padding: 17.11vw 8.22vw 30vw;

        @include grid-media-query(not-palm) {
            padding: 5.375% 8.22vw 14.89vw;
        }

        .title {

            @include grid-media-query(not-palm) {
                line-height: 1;
            }
        }

        .separator {
            width: 8.33vw;
            height: 1px;
            background-color: #dcdcdc;
            margin: 6.5% auto;            

            @include grid-media-query(not-palm) {
                width: 3.125vw;
                margin: 2.60vw auto;
            }
        }

        .desc {
            // margin: 13.88vw 0;
            font-family: $fontRegular;
            font-size: 4.16vw;
          
            @include grid-media-query(not-palm) {
                font-size: 1.25vw;
                padding: 0 13.54%;
            }
        }

        .name {
            font-size: 3.05vw;
            font-family: $fontLightItalic;
            color: $color-grey;
            
            @include grid-media-query(not-palm) {
                font-size: 0.78vw;
            }
        }
    }

    &-creator {
        background-color: #fbe9e1;
        text-align: center;

        .photo1 {
            width: 69.44%;        
            margin-top: -10%;
            
            @include grid-media-query(not-palm) {
                width: 26.09%;
                margin-top: -5%;
                margin-left: 38%;
            }
        }

        .name {
            margin:22.22% 2% 4.16%;
            letter-spacing: 0.2em;

            @include grid-media-query(not-palm) {
                margin: 0;
                text-align: left;
                margin-bottom: 1.395833vw;
            }
            
        }

        .title {
            @include grid-media-query(not-palm) {
                margin: 0;
                text-align: left;
                padding: 0;
                line-height: 1.1em;
            }
        }
        
        &-txts {
            position: relative;
            display: inline-block;
            width: 80%;
            // text-align: left;

            @include grid-media-query(not-palm) {
                width: 37%;
                text-align: left;
                float: right;
                margin-right: 7.3%;
                margin-top: 15.625%;
            }
        }

        &-photo {
            position: relative;
            padding-bottom: 2.8vw;
                    
            @include grid-media-query(not-palm) {
                margin: 1% 0;
                width: 40.5%;
                float: left;
                padding-bottom: 2.7%;
            }
            
            &-image {
                position: relative;
                width:78.44%;
                margin-left: 13.4%;
                    
                @include grid-media-query(not-palm) {
                    margin-left: 40%;
                    width: 77%;
                }

                img {
                    margin-top: 11.88%;
                    
                    @include grid-media-query(not-palm) {
                        margin: 0;
                        padding: 0;
                    }
                }

                &-legend {
                    margin: 2vw 0 0 0;
                    text-align: left;
                    font-family: $fontLightItalic;
                    font-style: italic;
                    font-size: 3vw;
                    
                    @include grid-media-query(not-palm) {
                        font-size: 0.78vw;
                        padding: 0;
                        margin: 2.8% 0 0 0;
                    }
                    
                    @include grid-media-query(big-desk) {
                        font-size: 15px;
                    }
                }
            }

            &-bg {
                background-color: $color-salmon;
                position: absolute;
                top: 100vw;
                right: 19.44vw;
                left: 8.33vw;
                bottom: 0;
                    
                @include grid-media-query(not-palm) {
                    right: auto;
                    left: 30%;
                    width: 55%;
                    height: 55%;                        
                    top: auto;
                }
            }
        }
        

        &-photo2 {
            width: 83.6%;
            margin-top: 28.33%;
            display: inline-block;
            margin-bottom: -10%;

            @include grid-media-query(not-palm) {
                width: 37.6%;
                margin-top: 21.33%;
                display: inline-block;
                margin-bottom: -5%;
                float: right;
                margin-right: 8%;
            }
        }
    }

    &-style {
        margin-top: 10%;
        text-align: center;

        .title {
            margin-top: 24%;
            margin-bottom: 8%;

            @include grid-media-query(not-palm) {
                margin-top: 16.56%;
                margin-bottom: 3.33%;
                line-height: 1.1em;
            }

            &-2 {
                margin-top: 8%;

                @include grid-media-query(not-palm) {
                    margin-top: 0;
                    margin-bottom: 8%;
                    padding: 0;
                }
            }
        }

        .bg {
            @include grid-media-query(not-palm) {
                background-color: #ffffff;
                width: 38.54%;
                padding: 4% 5%;
                text-align: left;
                margin-top: -12%;
                position: relative;
                right: 15%;
                float: right;
            }
        }

        .separator {
            width: 8.33vw;
            height: 1px;
            background-color: #dcdcdc;
            margin: 8.5% auto 10%;
            

            @include grid-media-query(not-palm) {
                width: 3.125vw;
                margin: 2.60vw auto;
            }
        }

        // .desc {
        //     font-family: $fontDin;
        //     font-size: 3.61vw;
        //     line-height: 1.5;
        //     padding: 0 8%;

        //     @include grid-media-query(not-palm) {                
        //         font-size: 0.9375vw;
        //         padding: 0;
        //     }

        //     @include grid-media-query(big-desk) {                
        //         font-size: 18px;
        //     }
        // }
        
        &-photo {
            position: relative;
            padding-bottom: 2.8vw;
                    
            @include grid-media-query(not-palm) {
                margin: 1% auto;
                width: 51.5%;
                // float: left;
                padding-bottom: 2.7%;
            }
            
            &-image {
                position: relative;
                margin-right: 13.4%;
                margin-left: 8.33%;
                    
                @include grid-media-query(not-palm) {
                    margin-left: -9%;
                    width: 100%;
                    margin-top: 17%;
                    font-size: 0;
                }

                img {
                    margin-top: 8%;
                    
                    @include grid-media-query(not-palm) {
                        margin: 0;
                        padding: 0;
                    }
                }

                &-legend {
                    margin: 2vw 0 0 0;
                    text-align: left;
                    font-family: $fontLightItalic;
                    font-style: italic;
                    font-size: 3vw;
                    color:#727272;
                    
                    @include grid-media-query(not-palm) {
                        font-size: 0.78vw;
                        padding: 0;
                        margin: 2.8% 0 0 0;
                    }
                    
                    @include grid-media-query(big-desk) {
                        font-size: 15px;
                    }
                }
            }

            &-bg {
                background-color: $color-salmon;
                position: absolute;
                right: 6.44%;
                left: 28.33%;
                height: 74%;
                top: 0;
                    
                @include grid-media-query(not-palm) {
                    left: auto;
                    right: auto;
                    width: 100%;
                    height: 85%;
                    top: -9%;
                }
            }
        }

        .bg {            

            .title {                    
                @include grid-media-query(not-palm) {
                    line-height: 1.1em;
                    margin-left: 0;
                }
            }
        }
    }

    &-crafted {
        margin-top: 60%;
        text-align: center;
        background-color: $color-salmon-lighter;
        padding-bottom: 50%;
            

        @include grid-media-query(not-palm) {
            margin-top: 9%;
            padding-bottom: 2%;
            text-align: left;
        }

        .title {
            margin-top: 20%;
            margin-bottom: 8%;

            @include grid-media-query(not-palm) {
                margin: 0;
                margin-bottom: 8%;
                padding: 0;
            }
        }

        .desc {
            @include grid-media-query(not-palm) {
                padding: 0 12% 0 0;
            }
        }

        .bg {
            @include grid-media-query(not-palm) {
                width: 27.916667%;
                margin-top: 17.604167%;
                margin-left: 19.791667%;
                float: left;
            }
        }

        .separator {
            width: 8.33vw;
            height: 1px;
            background-color: #dcdcdc;
            margin: 8.5% auto 10%;
            

            @include grid-media-query(not-palm) {
                width: 3.125vw;
                margin: 2.60vw auto;
            }
        }
        
        &-photo {
            position: relative;
            padding-bottom: 2.8vw;
            margin-top: 13%;
                    
            @include grid-media-query(not-palm) {
                margin: 9% 0 0;
                width: 52.1%;
                float: left;
                padding-bottom: 2.7%;
            }

            .logo-50 {
                position: absolute;
                width: 22.5%;
                top: -2%;
                right: 4%;
                    
                @include grid-media-query(not-palm) {
                    width: 13%;
                    top: -5.5%;
                    right: 21%;
                }
            }
            
            &-image {
                position: relative;
                margin-right: 13.4%;
                margin-left: 8.33%;
                    
                @include grid-media-query(not-palm) {
                    padding-right: 11%;
                }

                img {
                    margin-top: 8%;
                    
                    @include grid-media-query(not-palm) {
                        margin: 0;
                        padding: 0;
                    }
                }

                &-legend {
                    padding: 0 0 0 21%;
                    margin: 2vw 0 0 0;
                    text-align: right;
                    font-family: $fontLightItalic;
                    font-style: italic;
                    font-size: 3vw;
                    
                    @include grid-media-query(not-palm) {
                        font-size: 0.78vw;
                        padding: 0;
                        margin: 2.8% 0 0 0;
                    }
                    
                    @include grid-media-query(big-desk) {
                        font-size: 15px;
                    }
                }
            }

            &-bg {
                
                background-color: $color-salmon;
                position: absolute;
                // top: 100vw;
                left: 19.44vw;
                right: 8.33vw;
                bottom: 0;
                height: 60%;
                    
                @include grid-media-query(not-palm) {
                    right: auto;
                    left: 8.4%;
                    width: 76%;
                    height: 55%;
                    top: auto;
                }
            }
        }

        &-photo2 {
            width: 50%;
            margin-top: -39%;
                    
            @include grid-media-query(not-palm) {
                width: 17.24%;
                margin-top: -18%;
                padding: 0;
                position: absolute;
                left: 23.69%;
            }
        }

        &-photo3 {
            @include grid-media-query(not-palm) {
                width: 28.65%;
                margin-left: 27%;
                transform: translateY(-80%);
            }
        }
    }

    &-futur {
        background-color: $color-purple;
        color: #ffffff;
        text-align: center;

        @include grid-media-query(not-palm) {
            text-align: left;
        }


        .title {
            margin-top: 20%;
            margin-bottom: 8%;

            @include grid-media-query(not-palm) {
                margin: 0;
                margin-bottom: 8%;
                padding: 0;
            }
        }

        .desc {
            margin: 0;
            color: #ffffff;
            @include grid-media-query(not-palm) {
                padding: 0 12% 0 0;
            }
        }
        
        .bg {
            @include grid-media-query(not-palm) {
                width: 27.916667%;
                margin-top: 14.604167%;
                margin-left: 16.791667%;
                margin-bottom: 11%;
                float: left;
                margin-right: 3%;
            }
        }

        &-photo {
            width: 83.6%;
            margin-top:-28%;

            .tablet .portrait & {
                width: 83.6%;
                margin:-28% auto 0;
            }

            @include grid-media-query(not-palm) {
                width: 30.2%;
                margin-top: -4%;
                margin-bottom: 16%;
            }
        }

        &-photo2 {
            width: 56%;
            margin: 22% 0;

            @include grid-media-query(not-palm) {
                width: 19.4%;
                margin: 0;
                position: absolute;
                right: 7.4%;
                top: 37%;
            }
        }

    }
}