.legal-mention {

    padding: 0 7.777778%;

    @include grid-media-query(not-palm) {
        padding: 0 2.8125%;
        max-width: 1200px;
        margin: 0 auto;
    }
    @include grid-media-query(big-desk) {
        padding: 0 55px;
    }

    h1 {
        font-size: 6.388889vw;
        text-align: center;
        margin-top: 25%;

        @include grid-media-query(not-palm) {
            font-size: 3.385417vw;
            margin-top: 16.854167%;
        }
        @include grid-media-query(big-desk) {
            font-size: 65px;
        }
    }

    h3 {
        font-family: $fontSmallTitle;
        margin-top: 6.5%;
        font-size: 3.611111vw;
        color: #000000;

        .tablet .portrait & {
            font-size: 3vw;
        }

        @include grid-media-query(not-palm) {
            font-size: 0.9375vw;
            margin-top: 2.916667%;
        }
        @include grid-media-query(big-desk) {
            font-size: 18px;
        }
    }

   
    .separator {
        width: 8.33vw;
        height: 1px;
        background-color: #dcdcdc;
        margin: 6.5% auto;

        @include grid-media-query(not-palm) {
            width: 3.645833vw;
            margin: 2.60vw auto;
        }

        @include grid-media-query(big-desk) {
            width: 70px;
            margin: 50px auto;
        }
    }

    .content {
        font-family: $fontThin;
        font-size: 3.611111vw;
        margin-bottom: 10%;
        color: #515151;
        line-height: 1.5;

        .tablet .portrait & {
            font-size: 3vw;
        }

        @include grid-media-query(not-palm) {
            font-size: 0.9375vw;
        }
        @include grid-media-query(big-desk) {
            font-size: 18px;
        }
    }
}