.life {

    
    .title {
        font-family: $fontSmallTitle;
        color: $color-grey;
        font-size: 9.02vw;
        padding: 0 3.5%;
        
        @include grid-media-query(not-palm) {
            font-size: 3.15vw;
            padding: 0 14.06%;
        }
        
        @include grid-media-query(big-desk) {
            font-size: 60px;
        }
    }

    .desc {
        font-family: $fontDin;
        font-size: 3.61vw;
        line-height: 1.5;
        padding: 0 8%;
        color: #515151;

        @include grid-media-query(not-palm) {                
            font-size: 0.9375vw;
            padding: 0;
        }

        @include grid-media-query(big-desk) {                
            font-size: 18px;
        }
    }

    &-header {

        width: 100%;
        height: 100vh;
        position: relative;

        .background {
            width: 100%;
            height: 90vh;
            font-size: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            @include grid-media-query(not-palm) {
                height: 96vh;
            }
        }
        
        .container {
            width: 85%;
            background-color: #ffffff;
            text-align: center;
            position: absolute;
            padding: 6.1% 7.5%;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            @include grid-media-query(not-palm) {
                max-width: 1061px;
                margin: 0 auto;
                padding: 2.708333% 2.7% 2.2%;
            }

            @include grid-media-query(big-desk) {
                max-width: 1061px;
            }
            
            &-title {
                font-size: 3.055556vw;

                .tablet .portrait & {      
                    font-size: 2.5vw;
                }

                @include grid-media-query(not-palm) {
                    font-size: 0.9375vw;
                }
                
                @include grid-media-query(big-desk) {                                        
                    font-size: 18px;
                }
            }

            &-resume {                            
                font-size: 6.944444vw;
                margin-top: 3%;

                .tablet .portrait & {      
                    font-size: 5.5vw;
                }

                @include grid-media-query(not-palm) {             
                    font-size: 2.08vw;                
                }

                @include grid-media-query(big-desk) {                    
                    font-size: 30px;
                }
            }
            

            &-discover {
                margin: 5vw auto;
                text-align: center;                           

                .tablet & {
                    margin: 1vw auto 0;
                }
                
                .tablet .portrait & {
                    margin: 5vw auto 0;
                }
                
                @include grid-media-query(not-palm) {                    
                    margin: 3% 0 0;
                    // position: absolute;
                    // top: 100%;
                    // left: 50%;
                    // transform: translateX(-50%);
                }

                &-btn {
                    display: inline-block;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }

    }


    &-articles {

        @include grid-media-query(not-palm) {
            padding: 0 7.5%;
            position: relative;
            font-size: 0;
            margin: 0 auto;
        }
        
                
        @include grid-media-query(big-desk) {                    
            max-width: $maxWidthDesktop;
        }

        &-filters {
            text-align: center;
            margin: 3% auto 12%;

            @include grid-media-query(not-palm) {
                margin: 6% 0 5%;
            }

            .txt-filter {
                display: none;
                @include grid-media-query(not-palm) {
                    display: inline-block;
                    font-size: 0.94vw;
                    font-family: $fontSmallTitle;
                    color: $color-grey;
                    margin: 0 5% 0 0;
                }
                
                @include grid-media-query(big-desk) {    
                    font-size: 18px;
                }
            }

            .link.btn-link2 {
                display: inline-block;
                border-bottom: 0;
                transition: color 0.3s;

                &:hover {
                    color: $color-pink;
                }

                &:nth-child(3) {
                    margin: 0 5%;
                }

                &:last-child {
                    margin-right: 0;
                }

                @include grid-media-query(not-palm) {
                    font-size: 0.94vw;
                }
                
                @include grid-media-query(big-desk) {    
                    font-size: 18px;
                }

                &.selected {
                    color: $color-pink;
                    border-bottom: 1px solid $color-pink;                    
                    transition: color 0.3s;
                }
            }
        }

        .news {
            margin: 5% 8.33% 22%;
            // transition: all 0.5s;
            // overflow: hidden;

            &.hide {                
                // transition: all 0.5s;
                opacity: 0;
                display: none;
                // float: left;
            }
            .tablet .portrait & {
                width: 65%;
                
                &:nth-child(2), &:nth-child(4) {
                    margin-right: 8.33%;
                    margin-left: auto;
                }
            }

            @include grid-media-query(not-palm) {
                display: inline-block;
                width: 47.9%;
                margin: 0 2% 5% 0;
                position: relative;
                vertical-align: top;
                text-align: left;
                transition: all 0.5s;

                &.hide {
                    transition: all 0.5s;
                    display: none;
                    opacity: 0;
                }

                &:nth-child(even) {
                    margin: 0 0 5% 2%;
                }
                
                &-layer {
                    background-color: #ffffff;
                    padding:7% 0 6% 7%;
                    width: 72%;
                    position: relative;
                    margin-top: -14%;
                    display: inline-block;
                    text-align: left;
                    margin-left: 28%;
                    
                }
            }

            &-title {
                text-transform: lowercase;
                color: $color-grey;
                font-family: $fontSmallTitle;
                font-size: 3.055556vw;
                margin: 3.7vw 0 2.5vw;

                @include grid-media-query(not-palm) {
                    font-size: 0.94vw;
                    // margin: 9.4% 30px 22px;
                    margin: 0 3.3% 6.5% 0;
                    text-align: left;
                }
                
                @include grid-media-query(big-desk) {                    
                    font-size: 18px;
                }
            }
    
            &-resume {
                margin: 0 0 4.33%;
                line-height: 1.2;
                font-size: 6.9vw;

                .tablet .portrait & {
                    font-size: 4.33vw;
                }

                @include grid-media-query(not-palm) {
                    font-size: 1.82vw;
                    margin: 0;
                }

                @include grid-media-query(big-desk) {                    
                    font-size: 35px;
                }
            }

            &-discover {
                @include grid-media-query(not-palm) {
                    margin-top: 1.04vw;
                    font-size: 0.729167vw;
                }
            }
        }

        &-page-num {
            display: table;
            font-size: 0;
            margin: 15% auto;

            @include grid-media-query(not-palm) {
                margin: 1% auto 5%;
            }

            .page-numbers {
                font-family: $fontSmallTitle;
                font-size: 3.61vw;
                text-align: center;
                display: table-cell;
                border: 1px solid #ececec;
                width: 9vw;
                height: 9vw;
                vertical-align: middle;
                margin: 0;
                padding: 0;
                transition: color 0.5s;

                &:hover {
                    color: $color-pink;
                }

                &.dots {
                    cursor: default;
                    &:hover {
                        color: #000000;
                    }
                }

                &.current {
                    cursor: default;
                    color: $color-pink;
                }

                @include grid-media-query(not-palm) {
                    font-size: 0.73vw;
                    width: 2.34375vw;
                    height: 2.34375vw;
                }

                &.prev {
                    background-image: url(../images/arrow-prev-page.svg);
                    background-repeat: no-repeat;
                    background-size: 40%;
                    background-position: center center;
                }

                &.next {
                    background-image: url(../images/arrow-next-page.svg);
                    background-repeat: no-repeat;
                    background-size: 40%;
                    background-position: center center;
                }
            }
        }
    }



}