.txt-title-small {
    font-family: $fontSmallTitle;
    color: $color-pink;
    text-align: center;
    font-size: 3.6vw;
    text-transform: lowercase;
    letter-spacing: 0.3em;

    @include grid-media-query(not-palm) {
        font-size: 1.146vw;
        letter-spacing: 0.1em;
    }

    @include grid-media-query(big-desk) {
        font-size: 22px;
    }
}

