.wine {

    

    .resume {
        width: 85%;
        margin: 0 auto;
        font-family: $fontDin;
        font-size: 3.61vw;
        color: #515151;
        padding-bottom: 9.7%;
        text-align: center;
        

        .tablet .portrait & {
            font-size: 3.0vw;
            width: 75%;
        }

        .tablet .landscape & {
            font-size: 1.2vw !important;
        }

        @include grid-media-query(not-palm) {
            font-size: 0.9375vw;                
            margin: 0 22.73% 4%;
            padding-bottom: 0%;
            width: auto;
            line-height: 1.8;
        }

        @include grid-media-query(big-desk) {
            font-size: 18px;    
        }
    }

    .title {        
        font-size: 8.0vw;

        .tablet & {
            font-size: 7.0vw;
        }
        
        @include grid-media-query(not-palm) {
            // font-size: 3.90625vw;
            line-height: 1.2;
            font-size: 3.125vw;
            letter-spacing: -0.03em;
        }

        @include grid-media-query(big-desk) {
            font-size: 60px;    
        }
    }

    &-header {

        width: 100%;
        // height: 70vh;
        position: relative;

        .background {
            width: 100%;
            height: 100vh;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }

        &-scroll {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            bottom: 1.56vw;
            width: 50vw;
            
            .separator {
                width: 1px;
                background-color: #ffffff;
                height: 3.44vw;
                margin: 0 auto 1.56vw;
            }
            .txt {
                font-family: $fontSmallTitle;
                font-size: 0.73vw;
                color: #282828;
                text-transform: lowercase;
                text-align: center;
                
                @include grid-media-query(big-desk) {                    
                    font-size: 14px;
                }
            }
        }

    }

    &-crafted {
        width: 85%;
        margin: 11.944444% auto 0;


        @include grid-media-query(not-palm) {
            margin: 5.072917% auto 0;
        }


        .name {
            margin-bottom: 6.944444%;
            letter-spacing: 0.2em;

            @include grid-media-query(not-palm) {
                margin-bottom: 1.822917%;
            }
        }
        .title {
            text-align: center;

            @include grid-media-query(not-palm) {
                font-size: 3.90625vw;
                line-height: 1;
            }

            @include grid-media-query(big-desk) {
                font-size: 75px;
            }
        }

        .separator {
            width: 8.33vw;
            height: 1px;
            background-color: #dcdcdc;
            margin: 6.5% auto;

            @include grid-media-query(not-palm) {
                width: 3.645833vw;
                margin: 2.60vw auto;
            }

            @include grid-media-query(big-desk) {
                width: 70px;
                margin: 50px auto;
            }
        }

        .subtitle {
            text-align: center;
            font-size: 4.444444vw;
            font-weight: 100;
            padding: 0 2vw;
            
            @include grid-media-query(not-palm) {
                font-size: 1.458333vw;
                padding: 0 17%;
            }
            
            @include grid-media-query(big-desk) {
                font-size: 28px;
            }
        }
        
        .resume {
            @include grid-media-query(not-palm) {
                line-height: 2em;
            }
        }
    }

    &-infos {
        background-color: #ffe9e0;
        text-align: center;
        margin-top: 23.44%;
        padding-bottom: 50%;

        @include grid-media-query(not-palm) {
            margin-top: 17.1875%;
            padding-bottom: 11.666667%;
        }
        

        .photo1-container {
            margin-bottom: 1.89%;
            position: relative;
            width: 77.09%;            
            // margin-bottom: 13.89%;
            margin-top: -19.44%;
            display: inline-block;
            
            @include grid-media-query(not-palm) {
                margin-bottom: 0%;
                margin-top: 2%;
                width: 30.729167%;
                margin-top: 2%;
                display: inline-block;
                float: right;
                margin-right: 15.364583%;
            }
            
            .photo1 {
                // width: 77.09%;            
                // margin-bottom: 13.89%;
                // margin-top: -19.44%;
                
                // @include grid-media-query(not-palm) {
                //     width: 30.729167%;
                //     margin-top: 2%;
                //     display: inline-block;
                //     float: right;
                //     margin-right: 15.364583%;
                //     // margin-bottom: 0%;
                // }
            }

            .logo-50 {
                position: relative;
                width: 22%;
                margin-top: -13.8%;
                margin-right: -7.7%;
                margin-left: auto;
                
                @include grid-media-query(not-palm) {
                    width: 28.854167%;
                    margin-top: -17.5%;
                    margin-right: -8.435417%;
                }
            }
        }
            
        .photo2-container {
            display: none;

            @include grid-media-query(not-palm) {
                text-align: left;
                display: block;

                .photo2 {            
                    width: 26.09375%;
                    margin-left: 18.75%;
                    margin-top: -6.25%;
                }
            }
        }

        .txt-container {
            width: 85%;
            margin: 0 auto;

            .tablet & {
                width: 75%;
            }

            @include grid-media-query(not-palm) {
                margin-left: 18.75%;
                text-align: left;
                // display: inline-block;
                width: 31.25%;
                margin-top: 9.333333%;
                margin-bottom: 5%;
                float: left;

                .resume {
                    text-align: left;
                    margin-left: 0;
                    margin-top: 2.604167vw;
                    margin-bottom: 2.604167vw;
                }

            }
        }

        .title {
            margin-bottom: 6.5%;
        }

        .btn-download {
            img {
                width: 5.555556vw;
                vertical-align: bottom;

                .tablet .portrait & {
                    width:3.555556vw;
                }

                @include grid-media-query(not-palm) {
                    width: 1.041667vw;
                    vertical-align: middle;
                }
                @include grid-media-query(big-desk) {
                    width: 20px;
                }
            }
        }

        &-link {
            margin: 0 3%;
        }

        .file-type {
            font-family: $fontDin;
            font-size: 2.777778vw;
            @include grid-media-query(not-palm) {
                font-size: 0.7vw;
            }
            @include grid-media-query(big-desk) {
                font-size: 13px;
            }
        }
    }

    &-portraits {
        text-align: center;
        padding-bottom: 20%;

        @include grid-media-query(not-palm) {
            text-align: left;
            // margin-left: 18.75%;
            padding-bottom: 0;
        }  

        .photo1 {
            margin-top: -30%;
            width: 85%;   
            margin-bottom: 13.89%;    

            @include grid-media-query(not-palm) {
                width: 30.260417%;
                margin-top: -9.791667%;
                display: block;
                margin-left: 18.75%;
            }  
        }

        .title {
            width: 85%;
            margin: 0 auto 13.89%;

            .tablet & {
                width: 75%;
            }

            @include grid-media-query(not-palm) {
                width: 31.25%;
                margin-top: 10%;
                position: absolute;                
                margin-left: 18.75%;
            }  
        }

        &-slider {
            position: relative;

            @include grid-media-query(not-palm) {
                // margin-bottom: 20%; 
            }  

            &-bg {
                position: absolute;
                background-color: $color-salmon;
                width: 80%;
                height: 122.22vw;
                top: -5.5vw;
                right: 6.5vw;

                @include grid-media-query(not-palm) {
                    height: 73%;
                    width: 34.375%;
                    right: 11.658333%;
                    top: -3.4%;
                }  
            }

            &-pages {
                right: 6.5vw;
                top: 55vw;
                transform: translateX(50%);

                @include grid-media-query(not-palm) {
                    top: 30%;
                    right: 11.458333%;
                }  

                .page-num {
                    color: #ffffff;
                    margin-right: 56%;
                    margin-bottom: 56%;
                    // display: inline-block;

                    @include grid-media-query(not-palm) {
                        font-size: 1.458333vw;
                    }  
                    @include grid-media-query(big-desk) {
                        font-size: 18px;
                    }  
                }

                .page-total {
                    color: $color-salmon;
                    margin-left: 56%;

                    @include grid-media-query(not-palm) {
                        font-size: 1.458333vw;
                    }  
                    @include grid-media-query(big-desk) {
                        font-size: 18px;
                    }  
                }

                .line {
                    border-bottom: 1px solid $color-salmon;
                    width: 7vw;
                    transform: rotate(-45deg);

                    @include grid-media-query(not-palm) {
                        width: 3vw;
                    }  

                    @include grid-media-query(not-palm) {
                        width: 60px;
                    } 

                    &:after {
                        content: '';
                        display: block;
                        border-bottom: 1px solid #FFFFFF;
                        margin-bottom: -1px;
                        max-width: 3.6vw;
                        
                        @include grid-media-query(not-palm) {
                            max-width: 60px;
                        } 
                    }
                }
            }

            &-container {
                width: 87%;
                position: relative;                

                @include grid-media-query(not-palm) {
                    width: 100%;
                }  

                .swiper-slide {

                    @include grid-media-query(not-palm) {
                        text-align: right;
                        margin-bottom: 20%;
                    }  

                    &-block {
                        @include grid-media-query(not-palm) {
                            padding-right: 0;
                            text-align: left;
                            width: 41.8%;
                            left: 0;
                            position: absolute;
                            bottom: -8%;
                            margin-left: 18.75%;

                            &-txt {
                                display: inline-block;
                                width: 47%;
                                position: absolute;
                                vertical-align: top;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }  

                        .photo2 {
                            @include grid-media-query(not-palm) {
                                padding-right: 0;
                                width: 48%;
                                display: inline-block;
                                margin-left: 52%;
                            }  
                        }
                    }

                    .photo {
                        padding-right: 5vw;    

                        @include grid-media-query(not-palm) {
                            padding-right: 0;
                            width: 34.375vw;
                            margin-right: 14.0625vw;
                        }  
                        

                        @include grid-media-query(big-desk) {
                            width: 660px;
                            margin-right: 270px;
                        }
                    }

                    .logo {
                        width: 15.277778%;
                        margin: 8.611111% 0 3.888889%;
                        @include grid-media-query(not-palm) {
                            width: 25.9375%;
                            margin: 0 0 7.779167%;
                        }  
                    }
                    .title {
                        margin-bottom: 3%;
                        
                        @include grid-media-query(not-palm) {
                            margin: 0;
                            width: 100%;
                            font-size: 1.979167vw;
                            position: relative;                            
                            margin: 0 0 2%;
                        }  
                    }
                    .place {
                        font-family: $fontSmallTitle;
                        color: $color-pink;
                        font-size: 3.055556vw;
                        letter-spacing: 0.3em;

                        @include grid-media-query(not-palm) {
                            font-size:0.772917vw;
                            letter-spacing: 0.2em;
                        }  
                        @include grid-media-query(big-desk) {
                            font-size:14px;
                        }  
                    }

                    .resume {
                        @include grid-media-query(not-palm) {
                            text-align: left;
                            margin: 0;
                        }
                    }

                    .separator {
                        width: 8.33vw;
                        height: 1px;
                        background-color: #dcdcdc;
                        margin: 6.5% auto;
            
                        @include grid-media-query(not-palm) {
                            width: 3.645833vw;
                            margin: 1.625vw auto 1.5625vw 0;
                        }
            
                        @include grid-media-query(big-desk) {
                            width: 70px;
                            margin: 30px auto 30px 0;
                        }
                    }
                }

                .swiper-button {
                    position: absolute;
                    top: 114vw;
                    right: -2px;

                    @include grid-media-query(not-palm) {
                        top: 73%;
                        right: 11.6%;
                        // transform-origin: bottom;
                        // transform: translateY(-100%);
                        z-index: 5;
                    }

                    &-prev {
                        width: auto;
                        right: auto;
                        margin-right: 1px;
                        svg {
                            display: inline-block;
                            width: 10vw;
                            height: 10vw;

                            @include grid-media-query(not-palm) {
                                width: auto;
                                height: auto;
                            }
                        }
                        
                        .head {
                            transition: transform 0.5s;
                            transform: translateX(0px);
                        }
                        .tail {
                            transition: width 0.5s, transform 0.5s, font-size 0.5s;
                            transform: translateX(-7px);
                            width: 0;
                            font-size: 0;
                        }
                        &:hover {
                            .head {
                                transition: transform 0.5s;
                                transform: translateX(-2px);
                            }
                            .tail {
                                transition: width 0.5s, transform 0.5s, font-size 0.5s;
                                width: 8px;
                                transform: translateX(-2px);
                                font-size: 8px;
                            }
                        }
                    }

                    &-next {
                        width: auto;
                        right: auto;
                        svg {
                            display: inline-block;
                            width: 10vw;
                            height: 10vw;

                            @include grid-media-query(not-palm) {
                                width: auto;
                                height: auto;
                            }
                        }
                        
                        .head {
                            transition: transform 0.5s;
                            transform: translateX(0px);
                        }
                        .tail {
                            transition: width 0.5s, transform 0.5s, font-size 0.5s;
                            transform: translateX(8px);
                            width: 0;
                            font-size: 0;
                        }
                        &:hover {
                            .head {
                                transition: transform 0.5s;
                                transform: translateX(2px);
                            }
                            .tail {
                                transition: width 0.5s, transform 0.5s, font-size 0.5s;
                                transform: translateX(2px);
                                width: 8px;
                                font-size: 8px;
                            }
                        }
                    }
                }

            }
        }
    }

    &-notes {
        background-color: $color-purple;
        text-align: center;
        color: #ffffff;
        padding-bottom: 20%;

        .tablet & {
            padding-bottom: 10%;
        }

        @include grid-media-query(not-palm) {      
            text-align: left;
            padding-bottom: 0;
            height: 100vh;

            .left {
                display: inline-block;
                width: 54%;
                padding-top: 3.125%;
                vertical-align: top;
                position: relative;
                border-right: 1px solid #5a1754;
                height: 100vh;
            }

            .right {
                display: inline-block;
                width: 45%;
                vertical-align: top;
                position: relative;
            }
        }

        .title {
            background-color: $color-purple;
            width: 70%;
            margin: 0 auto;
            padding: 11.666667% 10% 10%;
            position: relative;
            pointer-events: none;
            z-index: 1;
            
            .tablet & {
                width: 64%;
                padding: 10% 6% 6%;
            }

            @include grid-media-query(not-palm) {   
                padding: 3.90625% 5.5%;
                width: 58%;
                float: right;
                margin-right: 15%;
                font-size: 3.90625vw;
            }
            
            @include grid-media-query(big-desk) {   
                font-size: 75px;
            }
        }

        .photo {
            width: 85%;
            margin-top: -10%;
            pointer-events: none;
            
            @include grid-media-query(not-palm) {   
                width: 82%;
                margin-top: -6%;
                display: inline-block; 
                vertical-align: top;
            }
        }

        &-slider-years {
            width: 80%;
            margin: 7.638889% auto;
            padding: 0 9%;

            @include grid-media-query(not-palm) {   
                width: 17%;
                display: inline-block;
                padding: 0;
            }

            ul {                
                text-align: justify;
                &:after {
                    content: '';
                    width: 100%;
                    display: inline-block;

                    @include grid-media-query(not-palm) {   
                        content: none;
                    }
                }
            }

            li {
                font-size: 3.055556vw;
                display: inline-block;
                width: auto;
                opacity: 0.2;
                transition: opacity 0.5s;

                @include grid-media-query(not-palm) { 
                    display: block;
                    font-size: 1.09375vw;
                    text-align: center;
                    margin: 7% auto;
                    cursor: pointer;
                    transition: opacity 0.5s, font-size 0.5s;

                    &:before {
                        content: '';
                        height: 1px;
                        width: 0px;
                        max-width: 20px;
                        background-color: #8e2c7a;
                        position: absolute;
                        top: 50%;
                        left: 5px;
                        transition: width 0.5s 0.2s;
                    }
                }   

                @include grid-media-query(big-desk) {   
                    font-size: 21px;
                }   

                &.active {
                    font-size: 4.722222vw;
                    opacity: 1;

                    @include grid-media-query(not-palm) {   
                        font-size: 1.5625vw;
                        position: relative;

                        &:before {
                            transition: width 0.5s;
                            width: 1.041667vw;
                        }
                    }   

                    @include grid-media-query(big-desk) {   
                        font-size: 30px;

                        &:before {
                            width: 20px;
                        }
                    }   
                }
            }
        }

        &-slider-notes {          
            margin: 8.888889% 0 0 0;
            @include grid-media-query(not-palm) {   
                // margin: 5vw 0 0;
                margin: 0;
                text-align: center;
                height: 100vh;
                overflow: hidden;
            } 

            @include grid-media-query(big-desk) {   
                // margin: 96px 0 0;
                margin: 0;
            } 

            .swiper-wrapper {
                
                @include grid-media-query(not-palm) {   
                    height: auto;
                    &:hover {
                        cursor: grab;
                    }
                }
            }

            .swiper-slide {
                white-space: nowrap;
                flex-shrink: initial;
                display: flex;
                width: auto;
            
                @include grid-media-query(not-palm) {   
                    flex-shrink: initial;
                    display: block;
                } 

                &:nth-child(1) {
                    .swiper-slide-note:nth-child(1) {
                        margin-top: 5vw;

                        .portrait & {
                            margin-top: 0;
                        }
                    }
                }

                &:last-child {
                    .swiper-slide-note:last-child {
                        margin-bottom: 5vw;

                        .portrait & {
                            margin-bottom: 0;
                        }
                    }
                }
                
            }

            .swiper-slide-note {
                display: inline-block;
                width: 55vw;
            
                @include grid-media-query(not-palm) {   
                    width: 70%;
                    // background-color: #ffe9e0;
                    display: block;
                    white-space: initial;

                    // &:nth-child(1) {
                    //     margin-top: 3vw;
                    //     // margin-top: 5vw;
                    // }

                    // &:last-child {
                    //     margin-bottom: 3vw;
                    // }

                    &.align-right {
                        margin-left: 30%;
                    }
                } 
            }

            .title {
                color: $color-pink;
                font-family: $fontSmallTitle;
                text-align: center;
                font-size: 3.055556vw;
                padding: 5% 0;
                white-space: normal;

                .tablet & {
                    font-size: 3vw;    
                    width: 90%;
                    padding: 0% 6% 6%;
                }
            
                @include grid-media-query(not-palm) {   
                    font-size: 0.729167vw;
                    float: none;
                    width: auto;
                    margin: 0 auto;
                } 
                @include grid-media-query(big-desk) {   
                    font-size: 14px;
                } 
            }

            .logo {
                // width: 21.388889vw;
                
                margin: 0 auto;
                text-align: center;
                
                @include grid-media-query(not-palm) {   
                    // width: 6.770833vw;
                    // display: block;
                    // margin: 0 auto;
                } 

                @include grid-media-query(big-desk) {   
                    // width: 130px;
                } 
                img {
                    width: auto;
                    max-width: 38vw;
                    max-height: 22vw;
                    
                
                    @include grid-media-query(not-palm) {   
                        max-width: 15vw;
                        max-height: 9vw;
                    } 
                }
            }

            .separator {
                width: 8.33vw;
                height: 1px;
                background-color: #dcdcdc;
                opacity: 0.15;
                margin: 6.5% auto;
    
                @include grid-media-query(not-palm) {
                    width: 3.645833vw;
                    margin: 1.302083vw auto;
                }
    
                @include grid-media-query(big-desk) {
                    width: 70px;
                    margin: 25px auto;
                }
            }

            .place {
                font-family: $fontSmallTitle;
                margin-bottom: 5%;
                font-size: 2.5vw;
                
                @include grid-media-query(not-palm) {   
                    font-size: 1.5625vw;
                } 
                @include grid-media-query(big-desk) {   
                    font-size: 30px;
                } 
            }
            .resume {
                // width: 56%;
                display: none;
                white-space: normal;
                color:#9d909e;
                @include grid-media-query(not-palm) {   
                    // margin-bottom: 0;
                    display: block;
                } 
            }
        }

    }
}