
#parallax-mouse {

    position: relative;

    .parallax-bg {
        position: relative;
        top: 0;
        width: 100%;
        height: 62vh;
        opacity: 0;

        @include grid-media-query(not-palm) {
            height: 100vh;
        }

        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 108%;
            
            @include grid-media-query(iphoneX) {
                width: 125%;
            }

            @include grid-media-query(not-palm) {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 124%;
            }

            @include grid-media-query(big-desk) {
                width: 110%;
            }
        }
    }

    .parallax-bottle {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 70vh;
        opacity: 0;

        @include grid-media-query(not-palm) {
            height: 100vh;
        }

        img {
            position: absolute;
            top: 44%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            .tablet .portrait & {
                width: 100%;
                top: 48%;
            }
            
            @include grid-media-query(not-palm) {
                top: 62%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 92%;
            }
        }
    }

    .parallax-text {
        width: 100vw;
        height: 100vh;
    }
}

.homepage {

    &-header {

        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;

        .background {
            width: 100%;
            height: 100vh;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }

        .container {

            bottom: 10%;
            position: absolute;
            width: 100%;

            .tablet .portrait & {
                bottom: 8vh;
            }
            
            @include grid-media-query(iphoneX) {
                bottom: auto;
                top:480px;
            }

            @include grid-media-query(not-palm) {
                position: absolute;
                // min-width: $widthContentDesktop;
                width: 45vw;
                left: 18.85vw;
                transform: translateY(-50%);
                top: 50%;
                bottom: auto;

                .decal {
                    // margin-left: 10%;
                    display: inline-block;
                    // text-align: center;
                }
            }
            
            &-title {
                width: 90%;
                margin: -2% auto 2%;
                text-align: center;
                font-size: 9vw;
                font-family: $fontSmallTitle;
                text-transform: lowercase;
                line-height: 0.9;

                .tablet .portrait & {
                    font-size: 6vw;
                    margin: 0 auto 0%;
                }
                
                @include grid-media-query(not-palm) {    
                    width: 75%;                
                    text-align: left;
                    font-size: 3.9vw;
                    margin: 0;
                    line-height: 0.9;
                    margin-left: -0.3vw;
                }
                
                @include grid-media-query(big-desk) {                    
                    font-size: 75px;
                    margin-left: -5px;
                }

                &.line2 {
                    .tablet .portrait & {
                        margin-bottom: 1.5%;
                    }

                    @include grid-media-query(not-palm) {                    
                        width: auto;
                        text-align: center;
                        display: inline-block;
                    }
                }
            }

            &-subtitle {
                width: 90%;
                margin: 0 auto 4%;
                text-align: center;
                font-size: 2vw;
                font-family: $fontSmallTitle;
                text-transform: lowercase;
                line-height: 0.9;

                .tablet .portrait & {
                    font-size: 1.7vw;
                    margin: 0 auto 0;
                }
                
                @include grid-media-query(not-palm) { 
                    width: auto;                   
                    text-align: left;
                    font-size: 0.677083vw;
                    margin: 1% 0;
                    line-height: 0.9;
                    // text-transform: lowercase;
                    display: block;
                }
                
                @include grid-media-query(big-desk) {                    
                    font-size: 13px;
                }
            }

            &-resume {
                text-align: center;  
                font-size: 4.166667vw;
                padding: 0 4% 5%;
                
                @include grid-media-query(not-palm) {  
                    text-align: left; 
                    padding-left:0;
                    display: block;
                    font-size: 1.56vw;
                    margin-top: 3%;
                    margin-bottom: 1%;
                    padding: 0;
                }

                @include grid-media-query(big-desk) {                    
                    font-size: 30px;
                }

                .tablet .portrait & {
                    display: none !important;
                }

                &-under {
                    display: none !important;

                    .tablet .portrait & {
                        display: block !important;
                        font-size: 3.166667vw;
                    }
                }
            }
            

            &-discover {
                margin: 5vw auto;
                text-align: center;                           

                .tablet & {
                    margin: 1vw auto 0;
                }
                
                @include grid-media-query(not-palm) {                    
                    margin: 6% 0;                    
                    // margin-left: 10%;
                    text-align: left;
                }

                &-btn {
                    display: inline-block;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }

        &-scroll {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 50vw;
            
            // .center {
            //     position: absolute;
            //     transform: translateY(-50%);
            //     bottom: 5vw;
            //     width: 50%;
            // }
            
            .separator {
                width: 1px;
                background-color: #000000;
                height: 2vw;
                margin: 0.60vw auto 0;
                
                transition: opacity 0.5s 1s, height 0.5s 1s;
                opacity: 1;
            }
            .txt {
                font-family: $fontSmallTitle;
                font-size: 0.73vw;
                color: #282828;
                text-transform: lowercase;
                text-align: center;
                transition: opacity 1s 1s, transform 1s;
                
                @include grid-media-query(big-desk) {                    
                    font-size: 11px;
                    letter-spacing: 0.2em;
                }
            }

            &.white {
                .separator {
                    background-color: #ffffff;
                }
                .txt {
                    color: #ffffff;
                }
            }

            .scroll-up &, .scroll-down & {
                // opacity: 0;

                .separator {
                    transition: opacity 1s, height 1s;
                    opacity: 0;
                    height: 0;
                }
                .txt {
                    transition: opacity 1s, transform 1s;
                    transform: translateY(-10px);
                    opacity: 0;
                }
            }
        }

    }

    &-news {

        @include grid-media-query(not-palm) {
            padding: 0 7.5vw 0 7.5vw;
            position: relative;
            font-size: 0;
            margin: 0 auto;
        }
        
                
        @include grid-media-query(big-desk) {                    
            max-width: $maxWidthDesktop;
        }

        .news {
            margin: 5% 8.33% 14%;

            .tablet .portrait & {
                width: 65%;
                
                &:nth-child(2), &:nth-child(4) {
                    margin-right: 8.33%;
                    margin-left: auto;
                }
            }

            @include grid-media-query(not-palm) {
                display: inline-block;
                width: 56.9%;
                margin: 0;
                position: relative;
                vertical-align: top;
                text-align: right;
                float: left;

                &:nth-child(2) {
                    // position: absolute;
                    // right: 7.5vw;
                    // top: 0;
                    width: 40%;
                    text-align: left;
                    float: right;
                    margin-top: 11.1%;
                    
                    .news-layer {
                        padding-left: 0;
                        width: 87.47%;
                    }

                    .news-title {
                        margin: 9.4% 4.7% 3.8%;
                    }
                }

                &:nth-child(3) {
                    // position: absolute;
                    // right: 7.5vw;
                    // top: 0;
                    width: 40%;
                    text-align: left;
                    
                    .news-layer {
                        padding-left: 0;
                        width: 87.47%;
                    }
                    
                    .news-title {
                        margin: 9.4% 4.7% 3.8%;
                    }
                }

                &:nth-child(4) {
                    // position: absolute;
                    // right: 7.5vw;
                    // top: 0;
                    width: 56.9%;
                    text-align: right;
                    float: right;
                    margin-top: 3%;
                }
                
                &-layer {
                    background-color: #ffffff;
                    padding: 6%;
                    width: 64%;
                    position: relative;
                    margin-top: -8%;
                    display: inline-block;
                    text-align: left;
                }
            }

            &-logo-50 {
                position: absolute;
                right: 13.33%;
                transform: translate(58%, -38%);
                width: 18vw;
                z-index: 1;
                // .logo-50-transparent {
                //     width: 70%;
                // }

                @include grid-media-query(not-palm) {
                    right: 0;
                    transform: translate(34%, -38%);
                    width:7vw;
                    // .logo-50-transparent {
                    //     width: 130%;
                    // }
                }
            }

            &-title {
                text-transform: lowercase;
                color: $color-grey;
                font-family: $fontSmallTitle;
                font-size: 3.33vw;
                margin: 2.7vw 0;
                letter-spacing: 0.3em;

                .tablet .portrait & {
                    font-size: 2.5vw;
                }

                @include grid-media-query(not-palm) {
                    font-size: 0.94vw;
                    // margin: 9.4% 30px 22px;
                    margin: 9.4% 3.3% 2.7%;
                    text-align: left;
                    letter-spacing: 0.15em;
                }
                
                @include grid-media-query(big-desk) {                    
                    font-size: 18px;
                }
            }
    
            &-resume {
                margin: 5.55vw 0 3.33vw;
                line-height: 1.2;
                font-size: 6.9vw;

                .tablet .portrait & {
                    font-size: 5.9vw;
                    margin: 3.55vw 0 3.33vw;
                }

                @include grid-media-query(not-palm) {
                    font-size: 1.82vw;
                    margin: 0;
                }

                @include grid-media-query(big-desk) {                    
                    font-size: 35px;
                }
            }

            &-discover {
                @include grid-media-query(not-palm) {
                    margin-top: 1.04vw;
                }
            }
        }
    }

    &-heritage {
        .heritage {
            margin: 17vw 0 0;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: $color-salmon-light;

            @include grid-media-query(not-palm) {
                // margin: 5.3125vw 0 0 0;
                margin: 8.4375vw 0 0 0; // To compensate translateY(-3.125vw);
                
                background-image: none !important;
            }

            @include grid-media-query(big-desk) {          
                margin: 161px 0 0 0; // To compensate translateY
            }

            &-photo-top {
                width: 33.33%;
                margin-left: 13.75%;
                transform: translateY(-12%);
                display: inline-block;
                font-size: 0;
            }

            &-photo {
                position: relative;
                padding-bottom: 2.8vw;
                        
                @include grid-media-query(not-palm) {
                    margin: 11% 0 0 0;
                    // margin: -11% 0 0 0;
                    width: 40.5%;
                    float: right;
                    padding-bottom: 2.7%;
                }
                
                &-image {
                    position: relative;
                        
                    @include grid-media-query(not-palm) {
                        padding-right: 11%;
                    }

                    img {
                        margin-top: 50vw;
                        padding: 0 13.8vw 0 8.33vw;
                        
                        @include grid-media-query(not-palm) {
                            margin: 0;
                            padding: 0;
                        }
                    }

                    &-legend {
                        padding: 0 13.8vw 0 24vw;
                        margin: 2vw 0 0 0;
                        text-align: right;
                        font-family: $fontLightItalic;
                        font-style: italic;
                        font-size: 3vw;
                        
                        @include grid-media-query(not-palm) {
                            font-size: 0.78vw;
                            padding: 0;
                            margin: 2.8% 0 0 0;
                        }
                        
                        @include grid-media-query(big-desk) {
                            font-size: 15px;
                        }
                    }
                }

                &-bg {
                    background-color: $color-salmon;
                    position: absolute;
                    top: 100vw;
                    left: 19.44vw;
                    right: 8.33vw;
                    bottom: 0;
                        
                    @include grid-media-query(not-palm) {
                        right: auto;
                        left: 10%;
                        width: 90%;
                        height: 60%;                        
                        top: auto;
                    }
                }
            }
            
            &-resume {
                padding: 17.36vw 0 50vw;
                
                @include grid-media-query(not-palm) {
                    padding: 9.5% 0;
                    margin-left: 18.75%;
                    transform: translateY(-10.125%);
                    max-width: 40%;
                }
                
                &-title {
                    text-align: center;                    
                    margin: 4.16vw 0;

                    @include grid-media-query(not-palm) {
                        text-align: left;
                        margin: 0 0 2.7%;
                    }
                }
                &-txt {
                    font-size: 9.7vw;
                    text-align: center;
                    padding: 0 5vw;

                    
                    .tablet & {
                        font-size: 7vw;
                    }

                    @include grid-media-query(not-palm) {
                        font-size: 3.125vw;
                        text-align: left;
                        margin: 0;
                        padding: 0;
                    }
                    @include grid-media-query(big-desk) {
                        font-size: 60px;
                    }
                }
                &-link {
                    text-align: center;
                    margin: 4.16vw 0;
                    @include grid-media-query(not-palm) {
                        text-align: left;
                        margin: 4% 0;
                    }
                }
            }
            
            
            &-resume2 {
                background-color: $color-purple;
                text-align: center;

                @include grid-media-query(not-palm) {       
                    margin-top: 24.25%;                    
                    text-align: left;
                }
                
                @include grid-media-query(big-desk) {    
                    margin-top: 461px;   
                }
                

                @include grid-media-query(not-palm) {
                    .left {
                        float: left;
                        margin-left: 17.23%;
                        width: 26.5%;
                        margin-top: 3%;
                    }
                }

                .title {
                    color: #ffffff;
                    margin: 11% auto 5%;

                    @include grid-media-query(not-palm) {
                        margin-left: 0;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                .discover {
                    @include grid-media-query(not-palm) {
                        // margin-left: 17.23%;
                    }
                }
                
                .pict {
                    width: 50vw;
                    margin-top: -35vw;

                    @include grid-media-query(not-palm) {  
                        margin-top: -30%;                      
                        width: 26.56%;
                        // margin-top: 0;
                        margin-left: 17.23%;
                        float: left;
                    }
                }

                &-notes {
                    margin-top: 15%;

                    @include grid-media-query(not-palm) {  
                        float: right;
                        width: 55%;
                        margin-top: 6%;
                        margin-bottom: 7%;
                    }

                    .note {
                        @include grid-media-query(not-palm) {  
                            display: inline-block;
                            width: 42%;
                            vertical-align: top;
                        }

                        .line {
                            display: none;
                        }
                        &:nth-child(1) {
                            .line {
                                display: block;
                                height: 1px;
                                background-color: #dcdcdc;
                                opacity: 0.10;
                                width: 80%;
                                margin: 0 auto;

                                @include grid-media-query(not-palm) {  
                                    display: none;
                                }
                            }
                        }
                    }

                    .title {
                        color: $color-pink;
                        font-family: $fontSmallTitle;
                        text-align: center;
                        font-size: 2.155556vw;
                        padding: 5% 0 2%;
                        white-space: normal;
                        width: 70%;
                        margin: 3% auto;
                        position: relative;
        
                        .tablet & {
                            font-size: 3vw;    
                            width: 90%;
                            padding: 0% 6% 6%;
                        }
                    
                        @include grid-media-query(not-palm) {   
                            font-size: 0.729167vw;
                            float: none;
                            width: auto;
                            margin: 0 auto 4%;
                            padding-left: 3%;
                            padding-right: 3%;
                        } 
                        @include grid-media-query(big-desk) {   
                            font-size: 14px;
                        } 
                    }
        
                    .logo {
                        // width: 21.388889vw;
                        // background-position: center;
                        // background-repeat: no-repeat;
                        // background-size: contain;
                        margin: 0 auto;
                        text-align: center;
                        
                        @include grid-media-query(not-palm) {   
                            // width: 6.770833vw;
                            // display: block;
                            // margin: 0 auto;
                        } 
        
                        @include grid-media-query(big-desk) {   
                            // width: 130px;
                        } 
                        img {
                            width: auto;
                            max-width: 38vw;
                            max-height: 22vw;
                            
                        
                            @include grid-media-query(not-palm) {   
                                max-width: 15vw;
                                max-height: 9vw;
                            } 
                        }
                    }
        
                    .separator {
                        width: 8.33vw;
                        height: 1px;
                        background-color: #dcdcdc;
                        opacity: 0.15;
                        margin: 6% auto;
            
                        @include grid-media-query(not-palm) {
                            width: 3.645833vw;
                            margin: 1.302083vw auto;
                        }
            
                        @include grid-media-query(big-desk) {
                            width: 70px;
                            margin: 25px auto;
                        }
                    }
        
                    .place {
                        font-family: $fontSmallTitle;
                        margin-bottom: 5%;
                        color: #ffffff;
                        text-align: center;
                        padding: 0 3%;

                        .tablet .portrait & {
                            font-size: 4.4vw;
                        }
                        
                        @include grid-media-query(not-palm) {   
                            font-size: 1.5625vw;
                        } 
                        @include grid-media-query(big-desk) {   
                            font-size: 30px;
                        } 
                    }
                    
                    .resume {
                        width: 80%;
                        margin: 0 auto;
                        font-family: "din-2014", sans-serif;
                        font-size: 3.61vw;
                        color: #b0a6b0;
                        padding-bottom: 9.7%;
                        text-align: center;
                        // width: 56%;
                        white-space: normal;
                        @include grid-media-query(not-palm) {   
                            font-size: 0.9375vw;
                        } 
                        @include grid-media-query(big-desk) {   
                            font-size: 18px;
                        } 
                    }
                }

                &-txt {
                    font-family: $fontThin;
                    color: #ffffff;
                    text-align: center;
                    font-size: 6.54vw;
                    margin: 22.22vw 0 6.39vw;
                    padding: 0 10vw;
                    line-height: 1.3;

                    .tablet & {
                        font-size: 6.14vw;
                        padding: 0 11.5vw;
                    }

                    @include grid-media-query(not-palm) {       
                        font-size: 3.125vw;
                        margin: 13% 0 1.95%;
                        padding: 0 30px;
                    }
                    @include grid-media-query(big-desk) {
                        font-size: 60px;
                    }
                }

                /*.separator {
                    width: 1px;
                    height: 6.94vw;
                    background-color: $color-purple-light;
                    margin: 6.39vw auto;

                    @include grid-media-query(not-palm) {
                        margin: 1.95% auto;
                        height: 2.6vw;
                    }
                    
                    @include grid-media-query(big-desk) {
                        height: 50px;
                    }
                }*/

                &-name {
                    font-family: $fontSmallTitle;
                    color: $color-pink;
                    font-size: 3.61vw;
                    text-align: center;
                    text-transform: lowercase;
                    padding-bottom: 16.66vw;

                    @include grid-media-query(not-palm) {       
                        font-size: 0.9375vw;
                        padding-bottom: 11.77%;
                    }
                    
                    @include grid-media-query(big-desk) {
                        font-size: 18px;
                    }
                }
            }

            &-social {
                background-color: #fef4f0;
                padding: 16.67vw 0;
                text-align: center;

                @include grid-media-query(not-palm) {       
                    text-align: left;
                    padding: 6.79% 7.71%;
                    position: relative;
                }

                @include grid-media-query(big-desk) {
                    padding: 120px 145px;
                }

                &-title {
                    color: $color-pink;
                    text-transform: lowercase;
                    font-size: 3.05vw;
                    font-family: $fontSmallTitle;

                    @include grid-media-query(not-palm) {       
                        font-size: 1.146vw;
                    }

                    @include grid-media-query(big-desk) {       
                        font-size: 22px;
                    }
                }

                &-name {
                    color:$color-dark-grey;
                    font-size: 6.94vw;
                    margin: 2.5vw auto;

                    @include grid-media-query(not-palm) {       
                        font-size: 2.34vw;
                        margin: 0.998% auto;
                    }

                    @include grid-media-query(big-desk) {       
                        font-size: 45px;
                    }
                }

                &-images {
                    position: relative;
                    padding: 8.33vw 0;                  
                    text-align: right;

                    @include grid-media-query(not-palm) {   
                        padding: 0;  
                        margin-top: 4.16%;
                        font-size: 0;            
                        text-align: left;
                    } 

                    .link {
                        display: inline-block;
                        a {
                            font-size: 0;
                        }

                        &:nth-child(1) {
                            width: 36.11vw;
                            position: absolute;
                            z-index: 2;
                            left: 7.77vw;  
                            top: 50%;
                            transform: translateY(-50%);
                            @include grid-media-query(not-palm) {  
                                left: 0.5%;       
                                width: 22%;
                                top: 53%;
                            }
                        }
                        &:nth-child(2) {
                            width: 55vw;
                            // z-index: 1;
                            margin-right: 7.77vw; 
                            @include grid-media-query(not-palm) {       
                                width: 35%;
                                margin-right: auto; 
                                margin-left: 20%;
                            } 
                        }
                        &:nth-child(3) {
                            display: none;
                            @include grid-media-query(not-palm) { 
                                z-index: 1;    
                                display: inline-block;     
                                position: absolute;
                                width: 22%;                                
                                left: 59.5%; 
                                top: 28.50%;
                            }
                        }
                        &:nth-child(4) {
                            display: none;
                            @include grid-media-query(not-palm) { 
                                display: inline-block;     
                                position: absolute; 
                                width: 22%;                              
                                right: 0;  
                            }
                        }
                    }
                }

                &-link {
                    text-transform: lowercase;
                    font-family: $fontSmallTitle;
                    margin: 2.5vw auto 0;
                    display: inline-block;
                    @include grid-media-query(not-palm) { 
                        position: absolute;  
                        margin: 0;
                        top: 7%;
                        // right: 7.71%;
                        // top: 0;
                        right: 0;
                    }
                }
            }
        }
    }



    &-link {
        text-align: center;
    }


}