
$fontSmallTitle : "Sackers Gothic Medium AT";

@font-face{
    font-family:"Sackers Gothic Medium AT";
    src:url("../fonts/sackers/SackersGothic-Medium.woff2") format("woff2"),
    url("../fonts/sackers/SackersGothic-Medium.woff") format("woff"),
    url("../fonts/sackers/SackersGothic-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*@font-face{
    font-family:"Canela";
    src:url("../fonts/Canela-Regular.eot?") format("eot"),
    url("../fonts/Canela-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
  font-family:"Canela Italic";
  src:url("../fonts/Canela-RegularItalic.eot?") format("eot"),
  url("../fonts/Canela-RegularItalic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family:"Canela Light";
  src:url("../fonts/Canela-Light.eot?") format("eot"),
  url("../fonts/Canela-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:"Canela Light Italic";
  src:url("../fonts/Canela-LightItalic.eot?") format("eot"),
  url("../fonts/Canela-LightItalic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family:"Canela Thin";
  src:url("../fonts/Canela-Thin.eot?") format("eot"),
  url("../fonts/Canela-Thin.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}*/

// $fontRegular : "Canela";
// $fontRegularItalic : "Canela Italic";
// $fontLight : "Canela Light";
// $fontLightItalic : "Canela Light Italic";
// $fontThin : "Canela Thin";


/*
$fontRegular : "Didot 06 A Medium", "Didot 06 B Medium";
$fontRegularItalic : "Didot 06 A Medium Italic", "Didot 06 B Medium Italic";
$fontLight : "Didot 06 A Light", "Didot 06 B Light";
$fontLightItalic : "Didot 06 A Light Italic", "Didot 06 B Light Italic";
$fontThin : "Didot 06 A Light", "Didot 06 B Light";

// DIDOT
@import url("../fonts/675141/didot-otf.css"); // Didot A and B- otf
@import url("../fonts/675141/didot-woff.css"); // Didot A and B- woff
*/


$fontRegular : "Didot";
$fontRegularItalic : "Didot Italic";
$fontLight : "Didot";
$fontLightItalic : "Didot Italic";
$fontThin : "Didot";
@font-face {
  font-family: 'Didot';
  src: url('../fonts/didot/Didot-01.woff2') format('woff2'),
       url('../fonts/didot/Didot-01.woff') format('woff'),
       url('../fonts/didot/Didot-01.ttf') format('truetype');
}

@font-face {
  font-family: 'Didot Bold';
  src: url('../fonts/didot/Didot-Bold-03.woff2') format('woff2'),
       url('../fonts/didot/Didot-Bold-03.woff') format('woff'),
       url('../fonts/didot/Didot-Bold-03.ttf') format('truetype');
}

@font-face {
  font-family: 'Didot Italic';
  src: url('../fonts/didot/Didot-Italic-02.woff2') format('woff2'),
       url('../fonts/didot/Didot-Italic-02.woff') format('woff'),
       url('../fonts/didot/Didot-Italic-02.ttf') format('truetype');
}

// DIN
// @import url("https://p.typekit.net/p.css?s=1&k=qho8xgv&ht=tk&f=32224&a=3888056&app=typekit&e=css");

@font-face {
  font-family:"din-2014";
  src:url("https://use.typekit.net/af/343335/00000000000000003b9b0ad0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/343335/00000000000000003b9b0ad0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/343335/00000000000000003b9b0ad0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-style:normal;font-weight:300;
}

$fontDin: "din-2014",sans-serif;






@font-face {
  font-family: 'Icomoon';
  src: url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}
.icon-logo:before {
  content: "\e901";
}
.icon-monogramme:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-arrow_right:before {
  content: "\e905";
}
.icon-arrow_down:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-cross:before {
  content: "\e908";
}
.icon-bullet:before {
  content: "\e909";
}
.icon-bullet_stroke:before {
  content: "\e90a";
}
.icon-play:before {
  content: "\e90b";
}
.icon-instagram:before {
  content: "\ea92";
}


