#transition {
    position: fixed;
    z-index: 20000;
    background-color: $color-salmon-lighter;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // display: none;

    @keyframes transition-leave {
        0% {
            display: block;
            top: 100%;
        }
        100% {
            top: 0;
        }
    } 

    @keyframes transition-enter {
        0% {
            display: block;
            top: 0;
            bottom: 0;
        }
        100% {
            // bottom: 100%;
            top: 100%;
            display: none;
        }
    }

    &.leave {
        animation: transition-leave 0.5s forwards;
    }
    &.enter {
        animation: transition-enter 0.5s 0.2s forwards;
    }
}
