/*****************************************
    MOBILE FIRST 
    Renaud COLLET for Weston Mills agency
    (c) 2018
********************************************/


@import 'imports/vendors/_swiper.scss';
@import 'imports/vendors/_videojs.scss';
@import 'imports/vendors/_animate.scss';
@import 'imports/vendors/_selectric.scss';
@import 'imports/vendors/_cookie-consent.scss';
@import 'imports/global/_utils.scss';
@import 'imports/global/_variables.scss';
@import 'imports/global/_mixins.scss';
@import 'imports/global/_text.scss';
@import 'imports/global/_socials.scss';
@import 'imports/global/_header.scss';
@import 'imports/global/_footer.scss';
@import 'imports/global/_cookie-consent.scss';
@import 'imports/global/_lazy-loading.scss';
@import 'imports/global/_template-common.scss';
@import 'imports/global/_template-homepage.scss';
@import 'imports/global/_template-heritage.scss';
@import 'imports/global/_template-life.scss';
@import 'imports/global/_template-life-article.scss';
@import 'imports/global/_template-wine.scss';
@import 'imports/global/_template-404.scss';
@import 'imports/global/_template-legal.scss';
@import 'imports/global/_template-store-locator.scss';
@import 'imports/global/_template-contest.scss';
@import 'imports/global/_intro.scss';
@import 'imports/global/_intro-notes.scss';
@import 'imports/global/_transitions.scss';
@import 'imports/ui/_buttons.scss';
@import 'imports/ui/_slider.scss';
@import 'imports/ui/_video.scss';
@import 'imports/ui/_form.scss';
@import 'imports/ui/_modal.scss';
@import 'imports/ui/_parallax.scss';


@viewport{
    zoom: 1.0;
    // width: device-width;
}
html {
    overflow: auto;
    // scroll-behavior: smooth;
}

body {
    background: white;
    padding: 0;
    margin: 0;
    font-family: $fontLight;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    // letter-spacing: 0.044em;
    letter-spacing: 0;
    overflow-x: hidden;
    position: relative;
    line-height: 1.1;
    // scroll-behavior: smooth;
    

    @include grid-media-query(not-palm) {               
        line-height: 1.2;
    }

    /*
    &.page-template-artist-list {
        overflow-y: hidden; 
        position: initial;
        @include grid-media-query(palm) {
            overflow-y: auto;
        }
    }*/
}

*, *:before, *:after {
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #2b1111;
}

h1, h2, h3 {
    font-weight: normal;
    margin: 0;
}

h2 {
    line-height: 1.2;
    @include grid-media-query(not-palm) {               
        line-height: 1.3;
    }
}

p {
    line-height: 1.5;
}

input, button, * { 
    border:none;
    &:focus {
        outline: none;
    }
} 

input[type=submit] {
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}

svg:focus {
    outline: none;
}

img {
    width: 100%;
}

.site-content {
    // overflow-x: hidden;
    padding: 0;
}

.mobile, .tablet.ios {
    #page {
        min-width: 240px; 
        max-width: 100%;
        position: relative;
        overflow-x: hidden;
        // overflow-y: hidden;
    }
    
    /*&.page-template-artist-list  { 
        #page {
            overflow-x: initial;
        }
    }*/
}

.palm-only {
    display: inherit;    
    @include grid-media-query(not-palm) {
        display: none;
    }
    .tablet & {
        display: none !important;
    }
}
.desktop-only {
    display: none;    
    @include grid-media-query(not-palm) {
        display: inherit;
    }
}

/**
Only used for tablet differenciation 
*/
.portrait-only {
    display: none !important;
    @media only screen and (orientation: portrait) {
        display: inherit !important;
    }
}
.landscape-only {
    display: none !important;
    @media only screen and (orientation: landscape) {
        display: inline-block !important;
    }
}



.max-width { 
    @include grid-media-query(not-palm) {
        max-width: $maxWidthDesktop;
        margin: 0 auto;
        position: relative;
    }
}

.no-scroll {
    overflow: hidden;
}

.clearfix::after {
    content: "";
    // height: 0;
    display: block;
    // visibility: hidden;
    clear: both;
}